{% if noalt is defined %}{% else %}alt="{% if asset.metadata.description is defined %}{{ asset.metadata.description }}{% endif %}"{% endif %} title="{% if asset.metadata.title is defined %}{{ asset.metadata.title }}{% else %}{{ asset.title }}{% endif %}"