{% cache %}
	{% set rowOpened = false %}
	{% for block in entry.homepageContent %}
		{% if block.type == "contentSection" %}

			{% if rowOpened==false %}
				{% set rowOpened = true %}
				<section class="additionalContent row">
			{% endif %}

				<div class="col-xs-12 col-sm-6">
					<div class="promotions">
						<div class="tile">
							<div class="tile-inner matchHeight" {% if block.contentBg %} style="background-color:{{ block.contentBg }};"{% endif %}>
								
									{% for featureEntry in block.entryLink %}
									<a href="{{ featureEntry.url }}">
									<h3{% if featureEntry.titleColour %} style="color:{{ featureEntry.titleColour }};"{% endif %}>{{ featureEntry.sectionTitle }}</h3>
									</a>

									{% if block.sectionImage %}
									{% for asset in block.sectionImage %}
									<figure class="no-padding">
										<img src="{{ asset.getUrl() }}" width="{{ asset.getWidth() }}" height="{{ asset.getHeight() }}" {% include '_chunks/_meta_asset_alt_title' %} class="img-responsive" />
									</figure>
									{% endfor %}
									{% endif %}
									<div class="intro">
										{% if block.sectionDescription %}<p{% if block.descriptionColour %} style="color:{{ block.descriptionColour }};"{% endif %}>{{ block.sectionDescription|raw }}</p>{% endif %}

										{% if block.sectionLinks|length > 0 %}
										<hr>
										<ul class="list-unstyled">
											{% for row in block.sectionLinks %}
												{% set entryRef = craft.entries.id(row.pageId).first() %}
												<li><a class="btn btn-primary" href="{{ entryRef.url }}" style="display:block; color:#FFFFFF!important; text-decoration:none; {% if block.linkColour %} background-color:{{ block.linkColour }}; border-color:{{ block.linkColour }}; {% endif %}">{{ row.linkTitle }} <i class="fa fa-angle-right"></i></a></li>
											{% endfor %}
										</ul>
										{% endif %}
									</div>
									{% endfor %}
								
							</div>
						</div>
					</div>
				</div>

		{% elseif block.type == "quote" %}

			{% if rowOpened==true %}
				{% set rowOpened = false %}
				</section>
			{% endif %}

			<div class="row">
				<div class="testimonial col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
					<blockquote>
						{% if block.quote %}<p>&quot;{{ block.quote }}&quot;</p>{% endif %}
						{% if block.author %}<footer>{{ block.author|raw }}</footer>{% endif %}
					</blockquote>
				</div>
			</div>
		{% endif %}
	{% endfor %}

	{% if rowOpened==true %}
		{% set rowOpened = false %}
		</section>
	{% endif %}

{% endcache %}