{% cache %}
	{% set rowOpened = false %}
        {% set featuredCount = 0 %}
	{% for block in entry.homepageContent %}
		{% if block.type == "contentSection" %}

			{% if rowOpened==false %}
				{% set rowOpened = true %}
				<section class="additionalContent row">
			{% endif %}

				<div class="col-xs-12 col-sm-6">
					<div class="promotions">
						<div class="tile">
							<div class="tile-inner matchHeight" {% if block.contentBg %} style="background-color:{{ block.contentBg }};"{% endif %}>
								
                                                            {% if block.sectionTitle == 'FEATURED TOUR' or block.sectionDescription  == 'FEATURED TOUR' %}
                                                            
									{% set b_found = false %}
                                                                        
                                                                        
									{% if block.sectionLinks|length > 0 %}
										{% set firstpageId = block.sectionLinks[0].pageId %}
										{% set firstLinkRef = craft.entries.id(firstpageId).first() %}
									{% endif %}
                                                                        
                                                                        {% if block.sectionTitle == 'FEATURED TOUR'  or block.sectionDescription  == 'FEATURED TOUR' %}
                                                                        
                                                                            {% set tourMenuPanelInfo = featuredCount|featuredTourPanel %}
                                                                            {% set featuredCount = featuredCount + 1 %}
                                                                            
                                                                        {% endif %}
                                                                            
                                                                        
									{% for tourInfo in tourMenuPanelInfo %}
										{% set tourEntry = tourInfo.tour_entry %}
										{% if b_found==false %}
											{% if tourInfo.availability|length>0 %}
												{% set availability = tourInfo.availability %}

												{% if firstLinkRef %}<a href="{{tourEntry.url}}">{% endif %}
												<h3{% if block.titleColour %} style="color:{{ block.titleColour }};"{% endif %}>{{ block.sectionTitle }}</h3>
												{% if firstLinkRef %}</a>{% endif %}

                                                                                                {%if not tourEntry.homepageFeatureImage|length%}
                                                                                                    {% set assets = tourEntry.featuredImage %}
                                                                                                {%else%}
                                                                                                    {% set assets = tourEntry.homepageFeatureImage %}
                                                                                                {% endif %}
                                                                                                
												{% if assets | length %}
													{% for asset in assets %}
														<figure class="no-padding">
															<img src="{{ asset.getUrl() }}" width="{{ asset.getWidth() }}" height="{{ asset.getHeight() }}" {% include '_chunks/_meta_asset_alt_title' %} class="img-responsive" />
														</figure>
													{% endfor %}
												{% endif %}

												<div class="intro">
													{% if tourEntry.shortDescription %}<p><span {% if block.descriptionColour %} style="color:{{ block.descriptionColour }};"{% endif %}>{{ tourEntry.title }}<br />{{availability.startTime|date("jS M")}} - {{availability.endTime|date("jS M Y")}}</span><br />{{ tourEntry.shortDescription|raw }}</p>{% endif %}
													<hr>
													<ul class="list-unstyled">
														<li><a class="btn btn-primary" href="{{tourEntry.url}}" style="display:block; color:#FFFFFF!important; text-decoration:none; {% if block.linkColour %} background-color:{{ block.linkColour }}; border-color:{{ block.linkColour }}; {% endif %}">More about this tour <i class="fa fa-angle-right"></i></a></li>
													</ul>
												</div>
                                                                                                        {#
												{% set b_found = true %}
                                                                                                #}
                                                                                                
											{% endif %}
										{% endif %}
									{%  endfor %}



								{% else %}
									{% if block.sectionLinks|length > 0 %}
										{% set firstpageId = block.sectionLinks[0].pageId %}
										{% set firstLinkRef = craft.entries.id(firstpageId).first() %}
									{% endif %}
									{% if firstLinkRef %}<a href="{{ firstLinkRef.url }}">{% endif %}
									<h3{% if block.titleColour %} style="color:{{ block.titleColour }};"{% endif %}>{{ block.sectionTitle }}</h3>
									{% if firstLinkRef %}</a>{% endif %}

									{% if block.sectionImage %}
									{% for asset in block.sectionImage %}
									<figure class="no-padding">
										<img src="{{ asset.getUrl() }}" width="{{ asset.getWidth() }}" height="{{ asset.getHeight() }}" {% include '_chunks/_meta_asset_alt_title' %} class="img-responsive" />
									</figure>
									{% endfor %}
									{% endif %}
									<div class="intro">
										{% if block.sectionDescription %}<p{% if block.descriptionColour %} style="color:{{ block.descriptionColour }};"{% endif %}>{{ block.sectionDescription|raw }}</p>{% endif %}

										{% if block.sectionLinks|length > 0 %}
										<hr>
										<ul class="list-unstyled">
											{% for row in block.sectionLinks %}
												{% set entryRef = craft.entries.id(row.pageId).first() %}
												<li><a class="btn btn-primary" href="{{ entryRef.url }}" style="display:block; color:#FFFFFF!important; text-decoration:none; {% if block.linkColour %} background-color:{{ block.linkColour }}; border-color:{{ block.linkColour }}; {% endif %}">{{ row.linkTitle }} <i class="fa fa-angle-right"></i></a></li>
											{% endfor %}
										</ul>
										{% endif %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>

		{% elseif block.type == "quote" %}

			{% if rowOpened==true %}
				{% set rowOpened = false %}
				</section>
			{% endif %}

			<div class="row">
				<div class="testimonial col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
					<blockquote>
						{% if block.quote %}<p>&quot;{{ block.quote }}&quot;</p>{% endif %}
						{% if block.author %}<footer>{{ block.author|raw }}</footer>{% endif %}
					</blockquote>
				</div>
			</div>
		{% endif %}
	{% endfor %}

	{% if rowOpened==true %}
		{% set rowOpened = false %}
		</section>
	{% endif %}

{% endcache %}