{% if entry.mulgaDifference | length %}
<aside class="difference row">
	<div class="col-xs-12">
		<h3>The Mulga Difference</h3>
		<div class="promotions row">
			
			{% for block in entry.mulgaDifference %}
			<div class="tile col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
				<div class="row tile-inner">
					{% if block.image %}
					{% for asset in block.image %}
						<figure class="col-xs-12 no-padding">
							<img src="{{ asset.getUrl() }}" width="{{ asset.getWidth() }}" height="{{ asset.getHeight() }}" {% include '_chunks/_meta_asset_alt_title' %} class="img-responsive" />
						</figure>
					{% endfor %}
					{% endif %}
						<div class="intro col-xs-12">
							{% if block.differenceTitle %}<p>{{ block.differenceTitle }}</p>{% endif %}
							{% if block.description %}<p>{{ block.description }}</p>{% endif %}
							<hr>

							<ul class="list-unstyled">
								{% for entry in craft.entries.id('27') %}
		                            <li><a href="{{ entry.url }}">Learn more about the Mulga difference <i class="fa fa-angle-right"></i></a></li>
		                        {% endfor %}
								{% for entry in craft.entries.id('188') %}
		                            <li><a href="{{ entry.url }}">Choose your tour and experience the Mulga difference <i class="fa fa-angle-right"></i></a></li>
		                        {% endfor %}
							</ul>
						</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</aside>
{% endif %}

{% if entry.asideHome | length %}
{% for block in entry.asideHome %}

<aside class="motivate row">
	<div class="tile col-xs-12">
		{% if block.asideTitle %}<h3 class="text-center">{{ block.asideTitle }}</h3>{% endif %}
		<div class="row">
			<div class="tile col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
				<div class="row tile-inner">

					<figure class="col-xs-12 no-padding">
						{% if block.image %}
							{% for asset in block.image %}
								<img src="{{ asset.getUrl() }}" width="{{ asset.getWidth() }}" height="{{ asset.getHeight() }}" {% include '_chunks/_meta_asset_alt_title' %} class="img-responsive" />
							{% endfor %}
						{% endif %}
					</figure>
					<div class="aside-content col-xs-12">
						{% if block.description %}<p>{{ block.description }}</p>{% endif %}
						<hr>
						{% if block.asideLink %}<a href="{% for entry in block.asideLink %}{{ entry.url }}{% endfor %}">{{ block.linkTitle }} <i class="fa fa-angle-right"></i></a>{% endif %}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</aside>
{% endif %}