<aside class="tourDetail col-sm-4 col-md-4">

	<div class="row hidden-xs">
		<nav class="sidebar col-xs-12 col-md-10 col-md-offset-1">
			<h4>In this section</h4>
			<hr>
			{% if entry.faqs | length %}
			<ul class="nav-contextual list-unstyled">
				{% for block in entry.faqs %}
				{% if block.type == "faq" %}
				<li>
					<a href="#faq{{ loop.index }}"><i class="fa fa-angle-right"></i> {{ block.question }}</a>
				</li>		
				{% endif %}
				{% endfor %}
			</ul>
			{% endif %}
		</nav>
	</div>
	
</aside>