<aside class="tourDetail col-sm-4 col-md-4">

	<div class="row hidden-xs">
		<nav class="sidebar col-xs-12 col-md-10 col-md-offset-1">
			{% import '_chunks/_macros' as macros %}

			{% set startEntry = entry.getAncestors.level(1).first() %} 
			{% if not startEntry %}
			{% set startEntry = entry %} 
			{% endif %}

			{% set subNavigation = startEntry.getChildren() %}

			{% if subNavigation | length %}
			<h4 class="sidebarTitle">{{ startEntry.title }}</h4>
			<nav>{{ macros.navPages(subNavigation,entry,'nav-contextual list-unstyled') }}</nav>
			{% endif %}
		</nav>
	</div>
	
</aside>