{% set firstAvailability = '' %}
{% for quarter in quarterAvailabilities %}
	{% if quarter.tours is not empty %}
		{% for availability in quarter.tours %}
			{% if availability.entry.id==entry.id %}
				{% set firstAvailability = availability %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}
<aside class="tourDetail col-xs-12 col-sm-4 col-sm-pull-8">


	{# <div class="wrap-title row visible-xs">
		<div class="col-xs-12">
			<span class="title">{{ entry.title }}</span> 
		</div>
	</div> #}

	<div class="row">
		<section class="col-xs-12">

			<div class="wrap-summary hidden-xs" style="border-radius: 4px 4px 0px 0px; margin-bottom:0px; {% if entry.sidebarBackgroundColour %}background-color:{{ entry.sidebarBackgroundColour }};{% endif %}">

				{% if entry.sidebarHeaderContent is not empty %}{{entry.sidebarHeaderContent}}{% endif %}


				{% if daytour is not defined %}
					{% if firstAvailability is empty %}
						<div class="tour-unavailable-block">
							{% if entry['unavailableTextOverride'] and entry.unavailableTextOverride %}
								{{ entry.unavailableTextOverride }}
							{% else %}
								<h5>Tour Unavailable:</h5>
								<p>This tour is no longer on our regular schedule, however, it is still offered as a private tour. Please <a style="color:#FF0000;" href="/contact">Contact Us</a> so we can help find dates that suit you.</p><hr />
							{% endif %}
						</div>
					{% endif %}
				{% endif %}

				<h5>{% if entry.sidebarTitle %}{{entry.sidebarTitle}}{% else %}At a glance:{% endif %}</h5>
				<div class="row">
					<section class="tour-description col-sm-12">
						{% if entry.shortDescription is defined %}
							<p>{{ entry.shortDescription|raw }}</p>
						{% endif %}
					</section>
				</div>
			</div>
			<div class="row hidden-xs">
				<div class="col-xs-12">
					<div id="googleMapWrapper"><div class="googleMap" id="googleMap"></div></div>
				</div>
			</div>

		</section>
	</div>

	<div class="row">

		<section class="col-xs-12">
			<div class="wrap-summary{% if daytour is defined %} hidden-xs{% endif %}" style="{% if entry.sidebarBackgroundColour %}background-color:{{ entry.sidebarBackgroundColour }};{% endif %}">
				<a class="hidden-xs" href="javascript:;" id="largeMapLink" data-toggle="modal" data-target="#mapModal">View larger map</a>
				{% if daytour is not defined %}
					<hr class="hidden-xs">
					<h5><i class="fa fa-usd"></i> Booking fee</h5>
					<p><strong>${{ tourInfo.bookingFee }}</strong> incl. GST per person</p>
					{% if firstAvailability %}
						<hr />
						<h5><i class="fa fa-clock-o"></i> Tour duration:</h5>
						<p><strong>{{ firstAvailability.durationDays }} Day{%if firstAvailability.durationDays>1%}s; {{ firstAvailability.durationDays }} Nights{% endif %}</strong></p>
					{% endif %}
				{% endif %}
				{% if daytour is defined %}
					<div class="hidden-xs">
					<hr />
					{# <a href="{{ entry.url }}#booktourframe" class="btn btn-primary btn-lg btn-block inpagescrolllink"><i class="fa fa-angle-right"></i> Book this tour</a> #}
						<a href="/contact-us" class="btn btn-primary btn-lg btn-block"><i class="fa fa-angle-right"></i> Request a tour</a>
					</div>
				{% endif %}
			</div>


			{% for quarter in quarterAvailabilities %}
				{% if quarter.tours is not empty %}
					{% for availability in quarter.tours %}
						{% if availability.entry.id==entry.id %}
							<div class="wrap-summary" style="border-radius: 4px;">
								{% set availabilityInfo = availability %}
								<h5><i class="fa fa-calendar-o"></i> Departure date:</h5>
								<p><strong>{{ availabilityInfo.startTime|date("jS F Y") }}</strong></p>

								<p>
								{% if entry.pricePreContent %}
									<strong>{{ entry.pricePreContent|nl2br }}</strong>
								{% else %}
									<strong>From (GST inc)</strong>
								{% endif %}
								</p>

								<ul class="list-unstyled">

									{% for priceOpt in availabilityInfo.priceOptions %}
										{% if priceOpt.label=='Double' %}

											<li><strong>${{ priceOpt.price|number_format(0) }} pp twin share</strong></li>
										{% endif %}
									{%  endfor %}
									{% for priceOpt in availabilityInfo.priceOptions %}
										{% if priceOpt.label=='Single' %}
											<li><strong>${{ priceOpt.price|number_format(0) }} single</strong></li>
										{% endif %}
									{%  endfor %}
								</ul>
								{% if entry.pricePostContent %}<p>{{ entry.pricePostContent|nl2br  }}</p>{% endif %}

								{% if availabilityInfo.seatsAvailable>0 and availabilityInfo.seatsAvailable<6 %}
									<h5><i class="fa fa-users"></i> Places Available:</h5>
									<p><strong>{{ availabilityInfo.seatsAvailable }} available</strong></p>
									<hr class="hidden-xs">
								{% endif %}

								<div class="NOT-hidden-xs">
									{% if(availabilityInfo.seatsAvailable<1) %}
										<a href="javascript:;" class="btn btn-primary btn-lg btn-block" disabled="disabled">{% if entry.soldOutLabel %}{{ entry.soldOutLabel }}{% else %}Sold out{% endif %}</a>
									{% else %}
										<a href="/tour/book/{{entry.slug}}/{{ availabilityInfo.startTime }}" class="btn btn-primary btn-lg btn-block"><i class="fa fa-angle-right"></i> Book this tour</a>
									{% endif %}
								</div>

							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}

		</section>
	</div>

	{% for block in entry.tourSidebar %}
	<div class="row">
		<section class="col-xs-12">
			{% if block.sidebarTitle %}<h5>{{ block.sidebarTitle }}:</h5>{% endif %}
			{% if block.sidebarDescription %}{{ block.sidebarDescription }}{% endif %}
			<hr>
		</section>
	</div>
	{% endfor %}
	
</aside>
