<aside class="tourDetail col-xs-12 col-sm-4">

	<div class="wrap-title row visible-xs">
		<div class="col-xs-12">
			<span class="title">{{ entry.title }}</span> 
			{% if entry.introText %}
			<p>{{ entry.introText|raw }}</p>
			{% endif %}
		</div>
	</div>

	{% for block in entry.contactSidebar %}
	<div class="row">
		<section class="col-xs-12">
			{% if block.sectionTitle %}<h5>{{ block.sectionTitle }}:</h5>{% endif %}
			{% if block.sectionContent %}{{ block.sectionContent }}{% endif %}
			<hr>
		</section>
	</div>
	{% endfor %}
	
</aside>