{% if entry.contentBlocks is defined and entry.contentBlocks|length>0 %}
	{% for block in entry.contentBlocks %}

		<div class="contentBlock">
			{% if block.type=='generalContent' %}
				<div class="row">
					<section class="col-xs-12">{{ block.panelContent }}</section>
				</div>
			{% endif %}

			{% if block.type=='youtubeVideo' and block.youtubeVideoId %}
				<div class="row">
					<div class="wrap-video col-xs-12" style="margin:30px 0;">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe width="853" height="480" src="https://www.youtube.com/embed/{{ block.youtubeVideoId }}?rel=0&showinfo=0&disablekb=0&modestbranding=0&rel=0" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			{% endif %}

			{% if block.type=='leftImagePanel' %}
				<div class="leftImgPanel" style="background-color:{% if block.backgroundColour=='#000000' %}#f4f4f4{% else %}{{ block.backgroundColour }}{% endif %};">
					<div class="row">
						<div class="col-xs-12 col-sm-6 matchHeight">
							<div style="height:100%; position: relative;">
								{% if block.image|length>1 %}
									<div class="royalSlider rsDefault">
										{% for asset in block.image %}
											<a class="rsImg"  data-rsBigImg="{{ asset.url({ mode: 'fit', width: 1200, height: 1200, quality: 60, format: 'jpg' }) }}" href="{{ asset.url({ mode: 'fit', width: 800, height: 800, quality: 60, format: 'jpg' }) }}">
												{{ asset.title }}
												<img width="100" height="100" class="rsTmb" src="{{ asset.url({ mode: 'crop', width: 200, height: 200, quality: 60, format: 'jpg' }) }}" alt="{{ asset.title }}" />
											</a>
										{% endfor %}
									</div>
								{% else %}
									{% set asset = block.image.first %}
									<figure class="img-prev" {% include '_chunks/_meta_asset_alt_title' with {'noalt':1} %} style="background-image:url('{{ asset.getUrl() }}')">
										<img class="visuallyhidden" src="{{ asset.getUrl() }}" width="{{ asset.getWidth() }}" {% include '_chunks/_meta_asset_alt_title' %} height="{{ asset.getHeight() }}">
									</figure>
								{% endif %}
							</div>
						</div>

						<div class="wrap-detail col-xs-12 col-sm-6 matchHeight">
							<div class="innerContent">
								<h3>{{ block.headTitle }}</h3>
								<div class="subTitle">{{ block.subTitle }}</div>
								<div class="panelContent">{{ block.panelContent }}</div>
								{% if block.buttonLink.first() %}
									<a class="btn btn-info {% if block.buttonColour!='#000000' %}opacityHover{% endif %}" {% if block.buttonColour!='#000000' %} style="border-color:{{ block.buttonColour }}; background-color:{{ block.buttonColour }};" {% endif %} href="{{ block.buttonLink.first().url() }}"><i class="fa fa-angle-right"></i> {{ block.buttonLabel }}</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>

				{% includeCssFile "/assets/css/royalslider.css" %}
				{% includeCssFile "/assets/css/royalslider-skin.css" %}

			{% endif %}

		</div>
	{% endfor %}

{% endif %}
