{% cache %}
<footer id="footer" class="site-foot nocontent" role="contentinfo">
	<div class="footer-inner row">
		<div class="col-xs-12">

			<div class="nocontent wrap-contact-footer col-xs-12 col-sm-4 col-md-3">
				<div class="row">
					<div class="col-xs-5 col-sm-12">
						<div class="logo-footer">
							<a href="{{ siteUrl }}">{{ siteName }}</a>
						</div>
					</div>
					<div class="col-xs-7 col-sm-12">
						{{ companyInfo.contactTelephoneNumbers }}
					</div>
					{#
					<div class="hidden-xs col-sm-12">
						<div class="">
							<a title="Australian Tourism Export Council membership logo" href="https://www.atec.net.au/" target="_blank"><img class="img-responsive external-logo" src="/assets/images/atec.png" alt="Australian Tourism Export Council membership logo" /></a>
						</div>
					</div>
					#}
					<div class="hidden-xs col-sm-12">
						<div class="">
							<a href="https://www.atec.net.au/ATEC/ATEC/H_S_Checklist/published_list_H_S_Checklist_.aspx" target="_blank"><img class="img-responsive external-logo" src="/assets/images/hands.png" alt="Australian Tourism Export Council Health and Safety Checklist logo" /></a>
						</div>
					</div>
				</div>
			</div>

			<div class="nocontent clearfix col-xs-6 col-sm-4 col-md-3">
				{% if slim is defined and slim==true %}
					{# No search for slim #}
				{% else %}
					<ul class="footer-links list-unstyled">
						{% set pageIds = footerNav.footerLinks|split(',') %}
						{% for pageId in pageIds %}
							{% set page = craft.entries.id(pageId).first() %}
							<li><a href="{{ page.url }}">{{ page.title }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}

			</div>

			<div class="nocontent clearfix col-xs-6 col-sm-4 col-md-2">
				{% if slim is defined and slim==true %}
					{# No search for slim #}
				{% else %}
					<ul class="footer-links list-unstyled">
						{% set segments = footerNav.footerPdfs|split(',') %}
						{% for segment in segments %}
							{% set segmentInfo = segment|split(':') %}
							{% set ref=false %}
							{% if segmentInfo[0] == 'asset' %}
								{% set ref = craft.assets.id(segmentInfo[1]).first() %}
							{% elseif segmentInfo[0] == 'entry' %}
								{% set ref = craft.entries.id(segmentInfo[1]).first() %}
							{% else %}
								<li>{{ segmentInfo[0]|raw }}</li>
							{% endif %}

							{% if ref %}
								<li><a href="{{ref.url}}"{% if segmentInfo[0]=='asset' %} target="_blank"{%endif%}>{{ref.title}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
				<div class="col-xs-6">
					<a title="Australian Tourism Export Council membership logo" href="https://www.atec.net.au/" target="_blank"><img class="img-responsive external-logo" src="/assets/images/atec.png" alt="Australian Tourism Export Council membership logo" /></a>
				</div>
				<div class="col-xs-6">
					<a href="https://www.atec.net.au/ATEC/ATEC/H_S_Checklist/published_list_H_S_Checklist_.aspx" target="_blank"><img class="img-responsive external-logo" src="/assets/images/hands.png" alt="Australian Tourism Export Council Health and Safety Checklist logo" /></a>
				</div>
			</div>

			<div class="clearfix visible-xs-block visible-sm-block"></div>

			<div class="nocontent newsletter-wrap col-xs-12 col-md-4">
				<p>Sign up for our newsletter Mulga Wires</p>
				<p style="font-size:12px;">We guarantee 100% privacy. Your information will not be shared.</p>

				<!-- Begin MailChimp Signup Form -->
				{#
				<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" property="stylesheet" type="text/css">

				<style type="text/css">
					/* #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; } */
					/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
				</style>
				#}
				<div id="mc_embed_signup">
					<form style="padding:0px;" action="//mulgabicycletours.us1.list-manage.com/subscribe/post?u=2908ef00894a8876335fc49e2&amp;id=4d7789e48b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
							<div class="mc-field-group form-group">
								<label for="mce-EMAIL" class="sr-only">Email Address  <span class="asterisk">*</span></label>
								<input type="email" value="" name="EMAIL" class="required form-control email" id="mce-EMAIL" placeholder="Your email">
							</div>
							<div class="mc-field-group form-group">
								<label for="mce-FNAME" class="sr-only">First Name  <span class="asterisk">*</span></label>
								<input type="text" value="" name="FNAME" class="required form-control" id="mce-FNAME" placeholder="Your first name">
							</div>
							<div class="mc-field-group form-group">
								<label for="mce-LNAME" class="sr-only">Last Name  <span class="asterisk">*</span></label>
								<input type="text" value="" name="LNAME" class="required form-control" id="mce-LNAME" placeholder="Your last name">
							</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>
							{# real people should not fill this in and expect good things - do not remove this or risk form bot signups #}
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2908ef00894a8876335fc49e2_4d7789e48b" tabindex="-1" value=""></div>
							{#<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>#}
							<button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Sign up</button>
							{#<div class="clear"><input type="submit" class="btn btn-primary" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"></div>#}
						</div>
					</form>
				</div>
				{# <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script> #}
			</div>

		</div>
	</div>
	<div class="nocontent site-credit row">
		<div class="col-xs-12">
			<p class="copyright text-center">&copy; {{ companyInfo.copyright }}</p>
		</div>
	</div>
</footer>
{% endcache %}