{% include "_chunks/searchFormModal" %}

<header role="banner">
	<div class="wrap-utility row">
		<div class="col-xs-12 text-right">
			{% if slim is defined and slim==true %}
				{# No search for slim #}
			{% else %}
				<form class="form-inline hidden-xs" action="{{ url('search-results') }}">
					<div class="form-group">
						<label class="visuallyhidden" for="search-header">Search {{ siteName }}</label>
						<input type="search" id="search-header" class="form-control" name="q" placeholder="Search&hellip;">
					</div>
					<button type="submit"><i class="fa fa-search"></i> <span class="visuallyhidden">Search</span></button>
				</form>
				<span class="search hidden-sm hidden-md hidden-lg"><a href="#" data-toggle="modal" data-target="#searchModal"><i class="fa fa-search"></i> <span class="visuallyhidden">Search</span></a></span>
			{% endif %}
			<span class="wrap-tel"><i class="fa fa-phone"></i> <a href="tel:{{ companyInfo.globalPhone|replace({' ':''}) }}"> {{ companyInfo.globalPhone }}</a></span>
		</div>
	</div>

	<div class="wrap-masthead{% if entry is defined %}{% if entry.featuredImage | length>0 or entry.featuredSlideshow | length>0 %}{% else %} no-image{% endif %}{% endif %} row">
		<div class="logo">
			<a href="{{ siteUrl }}">{{ siteName }}</a>
		</div>
		<nav class="nocontent nav-primary col-xs-12">
			{% if slim is defined and slim==true %}
				{# No search for slim #}
			{% else %}
				{% include "_chunks/nav" %}
			{% endif %}
		</nav>
	</div>
</header>