<article class="tile">
	<a href="{{ childEntry.url }}" title="{{ childEntry.title }}">
		<span class="visuallyhidden">{{ childEntry.title }}</span>
		{% if childEntry.featuredImage | length %}
		{% set image = childEntry.featuredImage.first() %}
		{% set blogThumb = { mode: 'scale', width: 800, quality: 50 } %}
		<figure>
			<img src="{{ image.getUrl(blogThumb) }}" class="img-responsive rev-slidebg" alt="{{ childEntry.title }}"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" data-no-retina>
		</figure>
		{% endif %}

		{% if hideTitle is not defined %}<h3>{{ childEntry.title }}</h3>{% endif %}
		{% if hideDate is not defined %}<span class="posted">{{ childEntry.postDate.format('d F Y') }}</span>{% endif %}
		{% if hideLinkIcon is not defined %}<span class="posted"><i class="fa fa-external-link"></i></span>{% endif %}
		{% if hideIntro is not defined %}{% if childEntry.introText | length %}<p>{{ childEntry.introText }}</p>{% endif %}{% endif %}
	</a>
</article>