{% set asset = false %}
{% if category.featuredImage is defined and category.featuredImage|length %}
	{% set asset = category.featuredImage.first() %}
{% endif %}
{% if entry is defined and entry.featuredImage|length %}
	{% set asset = entry.featuredImage.first() %}
{% endif %}

{% if asset %}
	<div class="row">
		<div class="col-xs-12 no-padding">
			<div id="masthead-hero" class="rev_slider fullwidthabanner" style="height:500px;" data-version="5.0.7">
				<ul>	<!-- SLIDE  -->
					<li data-index="rs-1" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{{ asset.getUrl() }}"  data-rotate="0"  data-saveperformance="off"  data-title="Intro" data-description="">
						<img src="{{ asset.getUrl() }}" {% include '_chunks/_meta_asset_alt_title' %}  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
					</li>
				</ul>
				<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
			</div>
		</div>
	</div>
{% endif %}

