{% cache %}

{% if entry.featuredSlideshow | length %}
<div class="row">
	<div class="col-xs-12 no-padding">
		<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="visibility:hidden margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
			{# Start Revolution Slider 5.0.7 auto mode #}
			<div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="height:500px;" data-version="5.0.7">
				<ul> 
					
					{% for block in entry.featuredSlideshow %}
						{% if block.type == "imageSlide" %}
							{# Image slide #}
							{% if block.slideImage %}
								{% for asset in block.slideImage %}
									<li {% include '_chunks/_meta_asset_alt_title' with {'noalt':1} %} data-index="rs-{{ block.id }}" data-transition="fade" data-slotamount="default" data-bgparallax="2" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{{ asset.getUrl() }}"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" >

									<img src="../assets/images/dummy.png" data-lazyload="{{ asset.getUrl() }}" width="{{ asset.getWidth() }}" height="{{ asset.getHeight() }}" {% include '_chunks/_meta_asset_alt_title' %} data-bgposition="{{ block.horizontal }} {{ block.vertical }}" data-bgfit="contain" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
									{% endfor %}
							{% endif %}
								</li>
						{% endif %}
					{% endfor %}
				</ul> 
				
				{% for block in entry.featuredSlideshow %}
					{% if block.type == "slideshowCaption" %}
					{# Static caption layer #}
					<div class="tp-static-layers">
						<div class="tp-caption tp-static-layer slide-caption rs-parallaxlevel-0" 
							id="slide-{{ block.id }}" 
							data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
							data-y="['top','top','top','top']" data-voffset="['125','140','125','150']"	
							data-whitespace="normal"
							data-transform_idle="o:1;"	
							data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
							data-transform_out="auto:auto;s:300;" 
							data-start="500" 
							data-basealign="slide" 
							data-startslide="0" 
							data-endslide="{{ entry.featuredSlideshow|length }}" 
							style="z-index: 5;"
							data-width="full">
							<div class="container-fluid">
								<div class="row">
									<div class="caption-inner col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
										{% if block.caption %}<h2>{{ block.caption }}</h2>{% endif %}
										{% if block.slideLink %}<a href="{{ block.slideLink }}" class="btn btn-default btn-lg"><i class="fa fa-angle-right"></i> {{ block.linkTitle }}</a>{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
				{% endfor %}


			</div>
		</div>
	</div>
</div>
{% endif %}

{% endcache %}