{% cache %}

{% set entries = craft.entries.section('siteContent').hideFromNavigation('not 1') %}
<ul class="nav-site nav-menu list-inline hidden-xs">
        
        <li class="mega-menu-link">
            <a href="javascript:;" class="btn btn-primary"><i class="fa fa fa-bars"></i> Menu</a>
            <div class="sub-nav row">

                {% for block in primaryNav.megaMenu %}
                        <div class="wrap-inner-nav col-xs-4">
                            {# Section 1 #}
                            <ul class="childlist sub-nav">
                            {% set segments = block.entryIds|split(',') %}
                                {% for segment in segments %}
                                    {% set segmentInfo = segment|split(':') %}
                                    {% set ref = false %}
                                    {% if segmentInfo[0] == 'asset' %}
                                        {% set ref = craft.assets.id(segmentInfo[1]).first() %}
                                    {% elseif segmentInfo[0] == 'entry' %}
                                        {% set ref = craft.entries.id(segmentInfo[1]).first() %}
                                    {% else %}
                                        <li>{{ segmentInfo[0]|raw }}</li>
                                    {% endif %}
                                    {% if ref %}
                                        <li><a href="{{ref.url}}"{% if segmentInfo[0]=='asset' %} target="_blank"{%endif%}>{{ref.title}}</a>{% if segmentInfo[0]=='asset' %}&nbsp;<i class="fa fa-file-pdf-o"></i>{%endif%}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                {% endfor %}
                {#
                              <div class="col-xs-4">


                                  <div class="row">
                                      <div class="col-xs-12">
                                          <h3>Featured tour</h3>
                                      </div>
                                  </div>
                                  <div class="featureWrap row">
                                      {% set tourMenuPanelInfo = null|featuredTourPanel %}
                                      {% for tourInfo in tourMenuPanelInfo %}
                                          {% set tourEntry = tourInfo.tour_entry %}
                                          {%  if tourInfo.availability|length>0 %}
                                              {% set availability = tourInfo.availability %}

                                                  <div class="col-xs-12">
                                                     <h4>{{ tourEntry.title }}</h4>
                                                     <span class="date">{{availability.startTime|date("jS M")}} - {{availability.endTime|date("jS M Y")}}</span>
                                                      <p>{{ tourEntry.shortDescription|raw }}</p>

                                                     <a href="{{tourEntry.url}}"><i class="fa fa-angle-right"></i> More about this tour</a>
                                                      <hr>
                                                 </div>

                                          {% endif %}
                                      {%  endfor %}
                                  </div>
                              </div>

 #}
            </div>

        </li>

        {#<li class="tour-booking">
            <a class="btn btn-primary" href="{{ craft.entries.id(423).first().url }}"><i class="fa fa-angle-right"></i> Book a tour</a>
        </li>#}

        {% for entry in craft.entries.id('30') %}
        <li class="contact"><a class="btn btn-info" href="{{ entry.url }}"><i class="fa fa-angle-right"></i> {{ entry.title }}</a></li>
        {% endfor %}
        <li class="tour-cert"><a href="{{ primaryNav.australianTourismAccreditationUrl }}" target="_blank"><img alt="Australian Tourism Accreditation Program" src="/assets/images/logoquality_tourism.png" /></a></li>
</ul>




<ul class="nav-mobile-activate list-inline hidden-sm hidden-md hidden-lg text-right">
    <li class="mobile">
        <a href="javascript:;" id="nav-mobile-button" class="btn btn-primary">Menu <i class="fa fa-bars fa-lg"></i></a>
        <a class="tourism-credit-mobile" href="{{ primaryNav.australianTourismAccreditationUrl }}" target="_blank"><img alt="Australian Tourism Accreditation Program" src="/assets/images/logoquality_tourism.png" /></a>
    </li>
</ul>

{% set entries = craft.entries.section('siteContent').hideFromNavigation('not 1')  %}
<div>
    <div id="nav-mobile">
        <ul class="nav-mobile">
            
            <li><a href="{{ craft.entries.id(423).first().url }}">Book a tour</a></li>
            
            {% for entry in craft.entries.id('30') %}
                <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
            {% endfor %}

            {% for block in primaryNav.megaMenu %}
                {% set segments = block.entryIds|split(',') %}
                    {% for segment in segments %}
                        {% set segmentInfo = segment|split(':') %}
                        {% set ref = false %}
                        {% if segmentInfo[0] == 'asset' %}
                            {% set ref = craft.assets.id(segmentInfo[1]).first() %}
                        {% elseif segmentInfo[0] == 'entry' %}
                            {% set ref = craft.entries.id(segmentInfo[1]).first() %}
                        {% else %}
                            <li><a onclick="javascript:;">{{ segmentInfo[0]|raw }}</a></li>
                        {% endif %}
                        {% if ref %}
                            <li><a href="{{ref.url}}"{% if segmentInfo[0]=='asset' %} target="_blank"{%endif%}>{{ref.title}} {% if segmentInfo[0]=='asset' %} <i class="fa fa-file-pdf-o"></i>{%endif%}</a></li>
                        {% endif %}
                {% endfor %}

            {% endfor %}

        </ul>
    </div>
</div>

{% endcache %}