{% if entry.featuredImage | length %}
<script type="text/javascript">
	var tpj=jQuery;					
	var revapi20;
	tpj(document).ready(function() {
		if(tpj("#masthead-hero").revolution == undefined){
			revslider_showDoubleJqueryError("#masthead-hero");
		}else{
			revapi20 = tpj("#masthead-hero").show().revolution({
				sliderType:"hero",
				jsFileLocation:"/assets/js/",
				// sliderLayout:"fullwidth",
				dottedOverlay:"none",
				delay:9000,
				navigation: {
				},
				responsiveLevels:[1024,1024,768,480],
				// gridwidth:[1024,1024,768,480],
				// gridheight:[495,495,371,371],
				gridwidth:1024,
				gridheight:495,
				lazyType:"none",
				parallax: {
					type:"mouse",
					origo:"slidercenter",
					speed:2000,
					levels:[2,3,4,5,6,7,12,16,10,50],
				},
				shadow:0,
				spinner:"spinner0",
				autoHeight:"on",
				disableProgressBar:"on",
				hideThumbsOnMobile:"off",
				hideSliderAtLimit:0,
				hideCaptionAtLimit:0,
				hideAllCaptionAtLilmit:0,
				debugMode:false,
				fallbacks: {
					simplifyAll:"off",
					disableFocusListener:false,
				}
			});
		}
	});	/*ready*/
</script>
{% endif %}