{% cache %}
<script type="text/javascript">
	function runHomePageSlideshow()
	{
		var tpj = jQuery;
		var revapi4;
		if (tpj("#rev_slider_4_1").revolution == undefined) {
			revslider_showDoubleJqueryError("#rev_slider_4_1");
		} else {
			revapi4 = tpj("#rev_slider_4_1").show().revolution({
				sliderType: "standard",
				jsFileLocation: "/assets/js/",
				// sliderLayout:"fullscreen",
				// sliderLayout:"fullwidth",
				// fullScreenOffsetContainer:'header',
				// fullScreenOffset:'10%',
				dottedOverlay: "none",
				delay:{{ entry.slideSpeed }},
				disableProgressBar: "on",

				navigation: {
					keyboardNavigation: "on",
					keyboard_direction: "horizontal",
					mouseScrollNavigation: "off",
					onHoverStop: "off",
					touch: {
						touchenabled: "on",
						swipe_threshold: 75,
						swipe_min_touches: 1,
						swipe_direction: "horizontal",
						drag_block_vertical: false
					},

					arrows: {
						style: "zeus",
						enable: {% if entry.featuredSlideshow | length>1 %}true{% else %}false{%endif%},
						hide_onmobile: true,
						hide_under: 600,
						hide_onleave: true,
						hide_delay: 200,
						hide_delay_mobile: 1200,
						// tmp:'<div class="tp-title-wrap">  	<div class="tp-arr-imgholder"></div> </div>',
						left: {
							h_align: "left",
							v_align: "center",
							h_offset: 30,
							v_offset: 0
						},
						right: {
							h_align: "right",
							v_align: "center",
							h_offset: 30,
							v_offset: 0
						}
					},

					bullets: {
						enable: false,
					}
				},

				viewPort: {
					enable: true,
					outof: "pause",
					visible_area: "80%"
				},


				responsiveLevels: [1024, 1024, 768, 480],
				// gridwidth:[1024,1024,768,480],
				// gridheight:[495,495,371,371],
				gridwidth: 1024,
				gridheight: 495,
				lazyType: "smart",
				parallax: {
					type: "scroll",
					origo: "slidercenter",
					speed: 2000,
					bgparallax: "on",
					levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
				},

				shadow: 0,
				spinner: "spinner0",
				stopLoop: "off",
				stopAfterLoops: -1,
				stopAtSlide: -1,
				shuffle: "off",
				autoHeight: "on",
				hideThumbsOnMobile: "off",
				hideSliderAtLimit: 0,
				hideCaptionAtLimit: 0,
				hideAllCaptionAtLilmit: 0,
				debugMode: false,

				fallbacks: {
					simplifyAll: "off",
					nextSlideOnWindowFocus: "off",
					disableFocusListener: false,
				}
			});
		}
	}
</script>
{% endcache %}