{% cache %}
	{% set assets = companyInfo.footerImages %}
	{% if assets | length %}

	<div class="row hidden-xs">
		<aside class="page-gallery col-xs-12">
			<div class="row">
				<div class="gallery-wrap block-grid-sm-4">
					{% for asset in assets %}
					<figure class="block-grid-item no-padding no-margin">
						<img src="{{ asset.url() }}" {% include '_chunks/_meta_asset_alt_title' %} class="img-responsive">
					</figure>
					{% endfor %}
				</div>
			</div>
		</aside>
	</div>
	{% endif %}
{% endcache %}