{% set assets = entry.tourImages %}
{% if assets | length %}
{#
<div class="row">
	<div class="col-xs-8 col-xs-offset-2" style="min-height:200px;">
		<div class="slideWrap"> 
			{% for asset in assets %}
			<figure>
				<img src="{{ asset.getUrl() }}" width="{{ asset.getWidth() }}" height="{{ asset.getHeight() }}" {% include '_chunks/_meta_asset_alt_title' %}>
				{% if asset.metadata.credit is defined and asset.metadata.credit %}<p class="credit">{{ asset.metadata.credit }}</p>{% endif %}
			</figure>
			{% endfor %}
		</div>
	</div>
</div>
#}


{% set galleryThumb = { mode: 'crop', width: 600, position: 'center-center' } %}
{% for asset in assets %}
	<a class="headSlideImgLink" href="{{ asset.getUrl() }}" data-fancybox="gallery-image" data-caption="{% if noalt is defined %}{% else %}{% if asset.metadata.headline is defined %}{{ asset.metadata.headline }}{% endif %}{% endif %}">
		{% if loop.first %}
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2" style="min-height:200px;">
						<div class="hidden-xs slick-prev slick-arrow"></div>
						<div class="hidden-xs slick-next slick-arrow"></div>
						<img class="image-responsive" style="margin:0px 0px 20px 0px;" {% include '_chunks/_meta_asset_alt_title' %} src="{{ asset.getUrl(galleryThumb) }}" width="{{ asset.getWidth(galleryThumb) }}" height="{{ asset.getHeight(galleryThumb) }}" />
						<i class="fa fa-search-plus" aria-hidden="true"></i>
				</div>
			</div>
	{% endif %}</a>
{% endfor %}



{% endif %}