<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, minimal-ui" name="viewport">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	{% if craft.config.devMode %}
		<link rel="stylesheet" href="{{ '/assets/css/styles.css'|timedAsset }}">
	{% else %}
		<link rel="stylesheet" href="{{ '/assets/css/styles.min.css'|timedAsset }}">
	{% endif %}

	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	{% block extraHead %}{% endblock %}
</head>

<body>

	{% block header %}{% endblock %}

	<div class="container"><div class="row"><div class="col-md-12"><h1>{{ title }}</h1></div></div></div>

	{% block content %}{% endblock %}
	{% block footer %}{% endblock %}

	{# Footer JS #}
	<script src="{{ '/assets/js/libs.min.js'|timedAsset }} "></script>
	{% if craft.config.devMode %}
		<script src="{{ '/assets/js/main.js'|timedAsset }} "></script>
	{% else %}
		<script src="{{ '/assets/js/main.min.js'|timedAsset }} "></script>
	{% endif %}

	{% block extraFoot %}{% endblock %}
</body>
</html>
