{% extends "site/_base" %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            {% if availabilityInfo.sessions is defined %}
                <table class="table table-hover">
                    <thead><tr><th>Start Date</th><th>End Date</th><th>Spots Available</th><th>&nbsp;</th></tr></thead>
                    <tbody>
                    {% for info in availabilityInfo.sessions %}
                        <tr>
                            <td>{{ info.startTime }}</td>
                            <td>{{ info.endTime }}</td>
                            <td>{{ info.seatsAvailable }}/{{ info.seats }} available</td>
                            <td>{% if(info.seatsAvailable<1) %}<span style="color:red;">Sold Out</span>{%  else %}<a class="btn btn-primary" href="/tour/book/{{ tour.slug }}/{{ info.startTime }}">Book Now</a>{% endif %}</td></tr>
                    {%  endfor %}
                    <tbody>
                </table>
            {% else %}
                <div class="alert alert-danger" role="alert">There are currently no sessions available for this tour.</div>
            {%  endif %}

            {{ tour.description|raw}}

        </div>
    </div>


</div>
{%  endblock %}