{% extends "site/_base" %}


{% block extraHead %}
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap-datepicker.min.css'|timedAsset }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="react-content"></div>
            </div>
        </div>
    </div>
{%  endblock %}


{% block extraFoot %}
    {% if craft.config.devMode %}
        <script src="{{ '/assets/js/react.js'|timedAsset }} "></script>
    {% else %}
        <script src="{{ '/assets/js/react.min.js'|timedAsset }} "></script>
    {% endif %}

    <script src="{{ '/assets/js/bootstrap-datepicker.min.js'|timedAsset }} "></script>
    <script src="{{ '/assets/js/react-dom.min.js'|timedAsset }} "></script>
    <script src="/assets/js/react_app.js"></script>
    <script>
        ReactDOM.render(React.createElement(BookingUI,{
            tourid:'{{ tourid }}',
            bookingfee:'{{ tourInfo.bookingFee }}',
            starttime:'{{ starttime }}',
            waiverForm:'{{ tour_entry.waiverForm.first().url }}',
        }),document.getElementById('react-content'));
    </script>
{% endblock %}