{% extends "site/_base" %}
{% set title = "Our Tours" %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <p>We've scheduled tours throughout the year to fit with the seasons and the best times to tour. Use our calendar to find a time to hit the road. If none of these suit, feel free to  get in touch  and we'll see what we can do to fit in with your schedule.</p>
        </div>
    </div>
    {#
    {% for tour in tour_products %}
        <h2>{{ tour.name }} ({{ tour.productCode }})</h2>
        {% if(tour.images[0].thumbnailUrl) %}
            <div style="float:left; margin-right:20px; width:100px; height:100px; background-color:contain; background-image:url('{{ tour.images[0].thumbnailUrl }}')"></div>
        {%  endif %}
        <p>{{ tour.shortDescription }}</p>
        <p>${{ tour.advertisedPrice|number_format(2) }} incl. GST</p>
        <a class="btn btn-primary" href="/tour/{{ tour.productCode }}">MORE ABOUT THIS TOUR</a>
        <hr />
    {% endfor %}
    #}

    {% for quarter in quarterAvailabilities %}
        {% if quarter.tours is not empty %}
            <h2>{{ quarter.start|date("M") }} - {{ quarter.end|date("M Y") }}</h2>
            {% for availability in quarter.tours %}
                <h3>{{availability.startTime|date("jS M")}} - {{availability.endTime|date("jS M")}}</h3>
                <h4>{{ availability.product.name }} ({{ availability.product.productCode }})</h4>
                {% if(availability.product.images[0].thumbnailUrl) %}
                    <div style="float:left; margin-right:20px; width:100px; height:100px; background-color:contain; background-image:url('{{ availability.product.images[0].thumbnailUrl }}')"></div>
                {%  endif %}
                <p>{{ availability.entry.shortDescription }}</p>
                <p>${{ availability.product.advertisedPrice|number_format(2) }} incl. GST</p>
                <a class="btn btn-primary" href="/tour/{{availability.entry.slug}}/{{availability.startTime}}">MORE ABOUT THIS TOUR</a>
                {# dump(availability) #}
            {% endfor %}
            <hr />
        {% endif %}

    {% endfor %}

</div>
{%  endblock %}