{% extends "_base" %}
{% set title = "Our Tours" %}


{% block extraHead %}
    {# Revo slider #}
    {# <link rel="stylesheet" type="text/css" href="/assets/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/navigation.css"> #}

    {# Revo js #}
    {# <script type="text/javascript" src="/assets/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.themepunch.revolution.min.js"></script> #}

    {# Revo extensions (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) #}
    {# <script type="text/javascript" src="/assets/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.video.min.js"></script>  #}   
{% endblock %}

{# Set specific body class for this template #}
{% set bodyClass %} class="tour-list"{% endset %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% include "_chunks/mastheadImage" %}
    <div class="wrap-main{% if entry.featuredImage | length<1 %} no-masthead{% endif %} row">

        <main role="main" class="col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">

            <div class="row">
                <div class="col-xs-12 column-padding">
                    {% set daytourlistingEntries = craft.entries.type('SubPageTourListing') %}
                    {% for dayTourListingEntry in daytourlistingEntries %}
                        <div class="row">
                            <header class="page-head col-xs-12">
                                <h2>{% if dayTourListingEntry.bookPageLongTitle %}{{ dayTourListingEntry.bookPageLongTitle }}{% else %}{{ dayTourListingEntry.title }}{% endif %}</h2>
                                {% if dayTourListingEntry.bookPageIntroText %}
                                    {{ dayTourListingEntry.bookPageIntroText|raw }}
                                {% endif %}
                            </header>
                        </div>

                        <hr style="margin:15px 0px 15px 0px;" />
                        {% for dayTourEntry in dayTourListingEntry.children %}
                            <div class="row">
                                <div class="col-sm-4">{{ dayTourEntry.title }}</div>
                                <div class="col-sm-5"><strong><i class="fa fa-calendar-o"></i> {{ dayTourEntry.quickBookDescription }}</strong></div>
                                <div class="col-sm-3"><a class="hidden-xs" href="{{ dayTourEntry.url }}#booktourframe">Book this tour <i class="fa fa-angle-right"></i></a><a class="visible-xs" style="display:block;" href="{{ dayTourEntry.url }}#booktourframe_mob">Book this tour <i class="fa fa-angle-right"></i></a></div>
                                <div class="col-sm-12"><hr style="margin:15px 0px 15px 0px;" /></div>
                            </div>
                        {% endfor %}

                    {% endfor %}


                    <div class="row">
                        <header class="page-head col-xs-12">
                            <h2>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h2>
                            {% if entry.introText %}
                                <p>{{ entry.introText|raw }}</p>
                            {% endif %}
                        </header>
                    </div>

                    <hr style="margin:15px 0px 15px 0px;" />
                    {% set tourListInfo = null|toursList %}
                    {% set quarterAvailabilities = tourListInfo.quarterAvailabilities %}
                    {% for quarter in quarterAvailabilities %}
                        {% if quarter.tours is not empty %}
                            {% for availability in quarter.tours %}
                                {% if availability.entry %}
                                    <div class="row">
                                        <div class="col-sm-4">{{ availability.product.name }}</div>
                                        <div class="col-sm-5"><strong><i class="fa fa-calendar-o"></i> {{availability.startTime|date("jS M")}} - {{availability.endTime|date("jS M")}} {{availability.endTime|date("Y")}}</strong></div>
                                        <div class="col-sm-3">
                                            {% if(availability.seatsAvailable<1) %}
                                                <a style="display:block; cursor:auto; color:#BBBBBB; text-decoration:none;">--- {% if availability.entry.soldOutLabel %}{{ availability.entry.soldOutLabel }}{% else %}Sold out{% endif %} ---</a>
                                            {% else %}
                                                <a style="display:block;" href="/tour/book/{{availability.entry.slug}}/{{availability.startTime}}">Book this tour <i class="fa fa-angle-right"></i></a>
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-12"><hr style="margin:15px 0px 15px 0px;" /></div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <div style="padding:100px;"></div>
                </div>
            </div>
        </main>
    </div>

{%  endblock %}

{% block footer %}
{# </div>
<div class="container"> #}
{{ parent() }}
{% endblock %}