{% extends "_base" %}

{# Set specific body class for this template #}
{% set bodyClass %} class="content multi-column"{% endset %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}

{% include "_chunks/mastheadImage" %}
	<div class="wrap-main{% if entry.featuredImage | length<1 %} no-masthead{% endif %} row">
        <div class="wrap-tour-inner col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">           
            <div class="row">

				{% include "_chunks/asideContact" %}

				<main role="main" class="col-xs-12 col-sm-8">
					<div class="row">
						<div class="col-xs-12">
							<header class="page-head hidden-xs">
								<h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>

								{# Error/Success Messages #}
								{% if craft.session.hasFlash('error') or craft.session.hasFlash('success') %}
									{% if craft.session.hasFlash('error') %}<div class="alert alert-warning">{{ craft.session.getFlash('error') | raw }}</div>{% endif %}
									{% if craft.session.hasFlash('success') %}<div class="alert alert-success">{{ craft.session.getFlash('success') | raw }}</div>{% endif %}
								{% else %}
									<div class="formbuilder-notification"></div>
								{% endif %}

								{% if entry.introText %}
									<p>{{ entry.introText|raw }}</p>
								{% endif %}
							</header>
							{% if entry.pageContent %}{{ entry.pageContent }}{% endif %}
							
							<div class="form-wrap"><div class="field">{{ craft.amForms.displayForm('contactUs') }}</div></div>

						</div>
					</div>
				</main>

			</div>
		</div>
	</div>
{% endblock %}