{% extends "_base" %}

{% block extraHead %}


    {# Slick slider #}
    <link rel="stylesheet" type="text/css" href="/assets/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.fancybox.min.css"/>
{% endblock %}



{# Set specific body class for this template #}
{% set bodyClass %} class="tour multi-column canberra"{% endset %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% set tourListInfo = null|toursList %}
    {% set quarterAvailabilities = tourListInfo.quarterAvailabilities %}

    {% include "_chunks/mastheadImage" %}

    <div class="wrap-main row">

        <div class="wrap-tour-inner col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
            <div class="row">

                <main role="main" class="col-xs-12 col-sm-8 col-sm-push-4">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="wrap-title row">
                                <div class="col-xs-12">
                                    <h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
                                    <a style="color:#FFFFFF!important; text-decoration:none;" href="/contact-us" class="hidden-sm hidden-md hidden-lg btn btn-primary btn-lg btn-block"><i class="fa fa-angle-right"></i> Request a tour</a>
                                </div>
                            </div>

                            {% include "_chunks/tourImages" %}

                            <div class="row">
                                <section class="tour-description col-sm-12">
                                    {% if entry.longDescription is defined %}
                                        {{ entry.longDescription }}
                                    {% endif %}
                                    {% if entry.sidebarHeaderContent is not empty %}<div class="visible-xs sidebarHeaderContent" style="margin-bottom:30px;">{{entry.sidebarHeaderContent}}</div>{% endif %}
                                    <a style="color:#FFFFFF!important; text-decoration:none; margin-bottom:20px;" class="hidden-sm hidden-md hidden-lg btn btn-info btn-lg btn-block visible-xs" href="javascript:;" id="largeMapLinkMob" data-toggle="modal" data-target="#mapModal">View Tour Map</a>
                                    <hr>
                                </section>
                            </div>

                            {% for block in entry.tourDays %}
                                <div class="row">
                                    <section class="col-xs-12">

                                        <header class="day-header row">
                                            <div class="col-xs-2 matchHeight">
                                                <span class="day"><strong>Day {{ loop.index }}</strong></span>
                                            </div>
                                            <div class="wrap-day-title col-xs-10 matchHeight">
                                                {% if block.dayTitle %}<h3>{{ block.dayTitle }}</h3>{% endif %}
                                            </div>
                                        </header>

                                        {% if block.tourDescription %}{{ block.tourDescription }}{% endif %}

                                        {% if block.accommodation %}
                                            <h4><strong>Accommodation</strong></h4>
                                            <ul class="list-unstyled">
                                                {% for row in block.accommodation %}
                                                    <li>{% if row.link %}<a href="{{ row.link }}" target="_blank" title="{{ row.name }}"><i class="fa fa-angle-right"></i> {% endif %}{{ row.name }}{% if row.link %}</a>{% endif %}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </section>
                                </div>
                                {% if loop.last != true %}
                                    <hr>
                                {% endif %}
                            {% endfor %}

                            {% if tourInfo.importantInformationDayTours | length %}
                                <div class="row hidden-xs">
                                    <section class="col-xs-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Important information</h3>
                                            </div>
                                            <div class="panel-body">
                                                {{ tourInfo.importantInformationDayTours }}
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            {% endif %}

                            {% if entry.dayTourBookingFromScript | length %}
                                <div class="row hidden-xs" id="booktourframe">
                                    <section class="col-xs-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Book a {{ entry.title }}</h3>
                                            </div>
                                            <div class="panel-body">
                                                {{ entry.dayTourBookingFromScript|raw }}
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </main>
                {% include "_chunks/asideTour" with {'daytour':true} %}
            </div>
        </div>
    </div>

    {% if tourInfo.importantInformationDayTours | length %}
        <div class="row visible-xs">
            <section class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Important information</h3>
                    </div>
                    <div class="panel-body">
                        {{ tourInfo.importantInformationDayTours }}
                    </div>
                </div>
            </section>
        </div>
    {% endif %}
    {% if entry.dayTourBookingFromScript | length %}
        <div class="row visible-xs" id="booktourframe_mob">
            <section class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Book a {{ entry.title }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ entry.dayTourBookingFromScript|replace({'id="':'id="first'})|raw }}
                    </div>
                </div>
            </section>
        </div>
    {% endif %}

{% endblock %}

{% block footer %}

    {{ parent() }}
{% endblock %}

{% block extraFoot %}

    <script type="text/javascript">

        function jqIsLoaded() {
            if (typeof GLOB_JsLibsLoaded==="undefined") {
                setTimeout(jqIsLoaded, 5);
            }else{

                var fileref=document.createElement('script');
                fileref.setAttribute("type","text/javascript");
                fileref.setAttribute("src", '{{ '/assets/slick/slick.min.js'|timedAsset }}');
                document.getElementsByTagName("head")[0].appendChild(fileref);

                function slickIsLoaded(){
                    if(typeof($().slick)!=='undefined'){
                        $('.slideWrap').slick({
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows: true,
                            fade: false
                        });
                    }else{
                        setTimeout(slickIsLoaded, 5);
                    }
                }
                setTimeout(slickIsLoaded, 5);

                $(document).ready(function(){

                    //Google Maps Script
                    var mapData =[{kml:"{{ siteUrl }}{{ entry.tourRoute.first().url }}?r=100"}];
                    var ceGoogleMap = new GoogleMapHandler();
                    ceGoogleMap.init(mapData,null,"googleMap",null,true,false);

                    $('#largeMapLink,#largeMapLinkMob').click(function(){
                        setTimeout(function(){
                            var mapData =[{kml:"{{ siteUrl }}{{ entry.tourRoute.first().url }}"}];
                            var ceGoogleMap = new GoogleMapHandler();
                            ceGoogleMap.init(mapData,null,"googleMapLarge",null,true,true);
                        },500);
                    });
                });
            }
        }
        jqIsLoaded();
    </script>

    <!-- Map Modal -->
    <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="largeMapLink">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ entry.title }} - Tour Map</h4>
                </div>
                <div class="modal-body">
                    <div id="googleMapWrapperLarge"><div class="googleLarge" id="googleMapLarge"></div></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}