{% extends "_base" %}

{% block extraHead %}
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.fancybox.min.css"/>
{% endblock %}

{# Set specific body class for this template #}
{% set bodyClass %} class="content gallery"{% endset %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
	{% include "_chunks/mastheadImage" %}

	<div class="wrap-main{% if entry.featuredImage | length<1 %} no-masthead{% endif %} row">
		<main role="main" class="col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-xs-12 column-padding">
					<header class="page-head">
						<h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>


						
						<div class="row">
							<div class="col-xs-12">
								<a class="previous-entry-link" href="{{ entry.parent.url }}"><i class="fa fa-angle-left" aria-hidden="true"></i> Back to {{entry.parent.title}}</a><hr />
							</div>
						</div>
						{% set prevEntry = entry.getPrev({parent:entry.parent}) %}
						{% set nextEntry = entry.getNext({parent:entry.parent}) %}
						<div class="row"> 
							<div class="col-xs-6">
								{% if prevEntry and prevEntry.parent.id==entry.parent.id %}
									<a class="previous-entry-link" href="{{ prevEntry.url }}"><i class="fa fa-angle-left" aria-hidden="true"></i> PREVIOUS DAY</a>
								{% endif %}
							</div><div class="col-xs-6 text-right">
								{% if nextEntry and nextEntry.parent.id==entry.parent.id %}
									<a class="previous-entry-link" href="{{ nextEntry.url }}">NEXT DAY <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
								{% endif %}
							</div>
						</div>
					</header>
					
					{{ entry.pageContent }}

					{% set assets = entry.galleryImages %}
					{% if assets | length %}

					 	{% set galleryThumb = { mode: 'crop', width: 300, height: 200, position: 'center-center' } %}
					 	
					    
					    {% for asset in assets %}

					    	{% if loop.first %}
					    	<div class="row">
								<ul class="image-gallery block-grid-xs-2 block-grid-md-3">
					    	{% endif %}
									
									<li class="block-grid-item">
								        <a href="{{ asset.getUrl() }}" data-fancybox="gallery-image" data-caption="{% if noalt is defined %}{% else %}{% if asset.metadata.headline is defined %}{{ asset.metadata.headline }}{% endif %}{% endif %}">
											<img class="image-responsive" {% include '_chunks/_meta_asset_alt_title' %} src="{{ asset.getUrl(galleryThumb) }}" width="{{ asset.getWidth(galleryThumb) }}" height="{{ asset.getHeight(galleryThumb) }}">
										</a>
									</li>

							{% if loop.last %}
								<ul>
							</div>
							{% endif %}

					    {% endfor %}
					{% endif %}

				</div>
			</div>
		</main>
	</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}

{% block extraFoot %}

{% endblock %}


