{% extends "_base" %}

{% block extraHead %}
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.fancybox.min.css"/>
{% endblock %}

{# Set specific body class for this template #}
{% set bodyClass %} class="content gallery"{% endset %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
	{% include "_chunks/mastheadImage" %}

	<div class="wrap-main{% if entry.featuredImage | length<1 %} no-masthead{% endif %} row">
		<main role="main" class="col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-xs-12 column-padding">
					<header class="page-head">
						<h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
						{% if entry.parent %}
							<a class="previous-entry-link" href="{{ entry.parent.getUrl() }}"><i class="fa fa-angle-left" aria-hidden="true"></i> Back to {{ entry.parent.getTitle() }}</a>
						{% endif %}
						{# {% if entry.introText %}
						<div class="lead">{{ entry.introText|raw }}</div>
						{% endif %} #}
					</header>
					
					{{ entry.pageContent }}


					{% for gallery in entry.children %}
					
					{% if loop.first %}
					<div class="row">

							<div class="gallery-list-wrap">
					{% endif %}
						<div class="col-xs-12 col-sm-6">
								<div class="gallery-tile">
									<div class="tile-inner matchHeight">

										<a class="gallery-wrap" href="{{gallery.url}}" style="display:block; color:#FFFFFF!important; text-decoration:none;">
												
											<h3 data-mh="headings">{% if gallery.longTitle %}{{ gallery.longTitle }}{% else %}{{ gallery.title }}{% endif %}</h3>

											{% set asset = gallery.featuredImage.first() %}
											{% if asset | length %}
												
												<figure class="no-padding">
													<img src="{{ asset.getUrl() }}" width="{{ asset.getWidth() }}" height="{{ asset.getHeight() }}" {% include '_chunks/_meta_asset_alt_title' %} class="img-responsive" />
												</figure>
											
											{% endif %}

											{# <div class="intro">
												
												{% if gallery.introText %}{{ gallery.introText }}{% endif %}
												
												<hr>
												
												<ul class="list-unstyled">
													<li>
														<a class="btn btn-primary" href="{{gallery.url}}" style="display:block; color:#FFFFFF!important; text-decoration:none;">{% if entry.parent %}View all images{% else %}View all galleries{% endif %} <i class="fa fa-angle-right"></i></a>
													</li>
												</ul>

											</div> #}

										</a>
												
									</div>
								</div>
						</div>
				{% if loop.last %}

					</div>
				</div>
				{% endif %}

				{% endfor %}

				</div>
			</div>
		</main>
	</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}

{% block extraFoot %}
	
{% endblock %}





