{% extends "_base" %}

{% set title = "Our Tours" %}

{% block extraHead %}
    {# Revo slider #}
    {# <link rel="stylesheet" type="text/css" href="/assets/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/navigation.css"> #}

    {# Revo js #}
    {# <script type="text/javascript" src="/assets/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.themepunch.revolution.min.js"></script> #}

    {# Revo extensions (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) #}
    {# <script type="text/javascript" src="/assets/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.video.min.js"></script> #}   
{% endblock %}

{# Set specific body class for this template #}
{% set bodyClass %} class="tour-list"{% endset %}

{% block header %}
    {{ parent() }}
{% endblock %}

    {% block content %}

        {% include "_chunks/mastheadImage" %}

        {% cache for 1 day %}
    <div class="wrap-main row">

        <main role="main" class="col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">

            <div class="row">
                <div class="col-xs-12 column-padding">

                    <div class="row">
                        <header class="page-head col-xs-12">
                            <h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
                            {% if entry.introText %}
                                <p>{{ entry.introText|raw }}</p>
                            {% endif %}
                        </header>
                        <div class="col-xs-12">
                            {{ entry.pageContent }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="wrap-tours-list col-xs-12">
                            
                            <ul class="tour-listing list-unstyled">
                                {% for tourEntry in entry.children %}

                                <li id="{{tourEntry.slug}}">
                                    <div class="row">

                                        {% set assets = tourEntry.tourListingImage %}
                                        {% if assets | length %}
                                            {% for asset in assets %}
                                                <div class="outer-wrap-tour-image col-xs-12 col-sm-5 hidden-xs matchHeight">
                                                    <div style="height: 100%; position: relative;">
                                                        <figure class="wrap-tour-image" {% include '_chunks/_meta_asset_alt_title' with {'noalt':1} %} style="min-height:150px; background-size:cover; background-position:center center; background-repeat:none; background-image:url('{{ asset.getUrl() }}')">
                                                            <img class="tour-image visuallyhidden" src="{{ asset.getUrl() }}" width="{{ asset.getWidth() }}" {% include '_chunks/_meta_asset_alt_title' %} height="{{ asset.getHeight() }}">
                                                        </figure>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        <div class="wrap-detail col-xs-12 col-sm-7 matchHeight">
                                            <header class="row">
                                                <div class="col-xs-9">
                                                    <a href="{{ tourEntry.url}}" style="text-decoration:none;"><h3 title="{{ tourEntry.title }}">{{ tourEntry.title }}</h3></a>
                                                </div>
                                                <div class="col-xs-12">
                                                    {{ tourEntry.introsummary }}
                                                </div>
                                                <hr>
                                            </header>
                                            <p>{{ tourEntry.shortDescription|raw }}</p>
                                            <ul class="list-inline">
                                                <li><a href="{{ tourEntry.url}}#booktourframe" class="hidden-xs btn btn-primary"><i class="fa fa-angle-right"></i> Book this tour</a><a href="{{ tourEntry.url}}#booktourframe_mob" class="btn btn-primary visible-xs"><i class="fa fa-angle-right"></i> Book this tour</a></li>
                                                <li><a class="btn btn-info" href="{{ tourEntry.url}}"><i class="fa fa-angle-right"></i> More about this tour</a></li>
                                            </ul>
                                            
                                        </div>
                                        
                                    </div>
                                </li>

                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
        {% endcache %}

{%  endblock %}

{% block footer %}
{# </div>
<div class="container"> #}
{{ parent() }}
{% endblock %}