{% extends "_base" %}

{% block extraHead %}

    {% if entry.featuredImage | length %}
        {# Revo slider #}
        {# <link rel="stylesheet" type="text/css" href="/assets/css/settings.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/navigation.css"> #}

        {# Revo js #}
        {# <script type="text/javascript" src="/assets/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.themepunch.revolution.min.js"></script> #}

        {# Revo extensions (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) #}
        {# <script type="text/javascript" src="/assets/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="/assets/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="/assets/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="/assets/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="/assets/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="/assets/js/extensions/revolution.extension.video.min.js"></script> #}
    {% endif %}

{% endblock %}

{# Set specific body class for this template #}
{% set bodyClass %} class="content"{% endset %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}

{% include "_chunks/mastheadImage" %}

	<div class="wrap-main{% if entry.featuredImage | length<1 %} no-masthead{% endif %} row">

		<main role="main" class="col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-xs-12 column-padding">
					<header class="page-head">
						<h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
						{% if entry.introText %}
							<div class="lead">{{ entry.introText|raw }}</div>
						{% endif %}
					</header>
					{{ entry.pageContent }}
					{% if entry.difficulty | length %}
					<p class="visible-xs"><em>Swipe table left for more information.</em></p>
					<div class="table-responsive">
						<table class="table table-striped table-condensed">
							<tr>
								<th>Grade</th>
								<th>Daily distances (km)</th> 
								<th>Terrain</th>
								<th>Pace</th>
								<th>Duration</th>
							</tr>
							{% for row in entry.difficulty %}
							<tr>
								<td>{{ row.grade }}</td>
								<td>{{ row.dailyDistances }}</td>
								<td>{{ row.terrain }}</td>
								<td>{{ row.pace }}</td>
								<td>{{ row.duration }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					{% endif %}
                                        {% include "_chunks/contentBlocks" %}
				</div>
			</div>
		</main>
	</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}