{% extends "_base" %}

{% set title = "Our Tours" %}

{# Set specific body class for this template #}
{% set bodyClass %} class="tour-list"{% endset %}

{% block header %}
    {{ parent() }}
{% endblock %}

    {% block content %}
        {% include "_chunks/mastheadImage" %}

        {% cache for 1 day %}
    <div class="wrap-main row">

        <main role="main" class="col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">

            <div class="row">
                <div class="col-xs-12 column-padding">

                    <div class="row">
                        <header class="page-head col-xs-12">
                            <h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
                            {% if entry.introText %}
                                <p>{{ entry.introText|raw }}</p>
                            {% endif %}
                        </header>
                    </div>

                    <div class="row">
                        <div class="wrap-tours-list col-xs-12">

                            {% set tourListInfo = null|toursList %}
                            {% set quarterAvailabilities = tourListInfo.quarterAvailabilities %}
                            {% for quarter in quarterAvailabilities %}
                            {% if quarter.tours is not empty %}
                            
                            <h2><i class="fa fa-calendar"></i> {{ quarter.start|date("M") }} - {{ quarter.end|date("M Y") }}</h2>
                            
                            <ul class="tour-listing list-unstyled">
                                {% for availability in quarter.tours %}

                                <li{% if availability.entry %} id="{{availability.entry.slug}}"{%endif%}>
                                    <div class="row">
                                        {% if availability.entry %}

                                        {# {% set routeImage = { mode: 'scale', width: 200, quality: 100 } %} #}
                                        {# {% set tourImage = { mode: 'scale', width: 600, height: 400, quality: 75 } %} #}
                                        
                                        {% if availability.entry %}
                                        {# {% set assets = availability.entry.featuredImage %} #}
                                        {% set assets = availability.entry.tourListingImage %}
                                        {% if assets | length %}
                                        {% for asset in assets %}
                                            <div class="outer-wrap-tour-image col-xs-12 col-sm-5 hidden-xs matchHeight">
                                                <div style="height: 100%; position: relative;">
                                                    <figure class="wrap-tour-image" {% include '_chunks/_meta_asset_alt_title' with {'noalt':1} %} style="min-height:150px; background-size:cover; background-position:center center; background-repeat:none; background-image:url('{{ asset.getUrl() }}')">
                                                        <img class="tour-image visuallyhidden" src="{{ asset.getUrl() }}" width="{{ asset.getWidth() }}" {% include '_chunks/_meta_asset_alt_title' %} height="{{ asset.getHeight() }}">
                                                    </figure>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}

                                        <div class="wrap-detail col-xs-12 col-sm-7 matchHeight">
                                            <header class="row">
                                                {% if availability.entry %}
                                                    {% set assets = availability.entry.locationImage %}
                                                    {% if assets | length %}
                                                        {% for asset in assets %}
                                                        <figure class="col-xs-3">
                                                            <img src="{{ asset.getUrl() }}" {% include '_chunks/_meta_asset_alt_title' %} width="{{ asset.getWidth() }}" height="{{ asset.getHeight() }}">
                                                        </figure>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endif %}
                                                <div class="col-xs-9">
                                                    <h3>{{ availability.product.name }}</h3>
                                                    <ul class="hidden-xs list-unstyled detail-list">
                                                        <li><strong><i class="fa fa-calendar-o"></i> {{availability.startTime|date("jS M")}} - {{availability.endTime|date("jS M")}} {{availability.endTime|date("Y")}}</strong></li>
                                                        <li><strong><i class="fa fa-clock-o"></i> {{ availability.durationDays }} Day{%if availability.durationDays>1%}s; {{ availability.durationDays }} Nights{% endif %}</strong></li>

                                                        {% if availability.entry.pricePreContent %}
                                                            <li style="margin:5px 0px;"><strong>{{ availability.entry.pricePreContent|nl2br|replace({'$':'<i class="fa fa-credit-card"></i> $'})|raw }}</strong></li>
                                                        {% else %}
                                                            <li style="margin:5px 0px;"><strong>From (GST inc)</strong></li>

                                                        {% endif %}

                                                        {% for priceOpt in availability.priceOptions %}
                                                            {% if priceOpt.label=='Double' %}
                                                                <li><strong><i class="fa fa-credit-card"></i> ${{ priceOpt.price|number_format(2) }} pp twin share</strong></li>
                                                            {% endif %}
                                                        {%  endfor %}
                                                        {% for priceOpt in availability.priceOptions %}
                                                            {% if priceOpt.label=='Single' %}
                                                                <li><strong><i class="fa fa-credit-card"></i> ${{ priceOpt.price|number_format(2) }} single</strong></li>
                                                            {% endif %}
                                                        {%  endfor %}

                                                        {% if availability.entry.pricePostContent %}
                                                            <li style="margin:5px 0px;"><strong>{{ availability.entry.pricePostContent|nl2br|replace({'$':'<i class="fa fa-credit-card"></i> $'})|raw }}</strong></li>
                                                        {% endif %}

                                                    </ul>
                                                </div>
                                                <div class="visible-xs col-xs-12">
                                                    <ul class="list-unstyled detail-list">
                                                        <li><strong><i class="fa fa-calendar-o"></i> {{availability.startTime|date("jS M")}} - {{availability.endTime|date("jS M")}} {{availability.endTime|date("Y")}}</strong></li>
                                                        <li><strong><i class="fa fa-clock-o"></i> {{ availability.durationDays }} Day{%if availability.durationDays>1%}s; {{ availability.durationDays }} Nights{% endif %}</strong></li>

                                                        {% for priceOpt in availability.priceOptions %}
                                                            {% if priceOpt.label=='Double' %}
                                                                <li><strong><i class="fa fa-credit-card"></i> ${{ priceOpt.price|number_format(2) }} pp twin share</strong></li>
                                                            {% endif %}
                                                        {%  endfor %}
                                                        {% for priceOpt in availability.priceOptions %}
                                                            {% if priceOpt.label=='Single' %}
                                                                <li><strong><i class="fa fa-credit-card"></i> ${{ priceOpt.price|number_format(2) }} single</strong></li>
                                                            {% endif %}
                                                        {%  endfor %}

                                                    </ul>
                                                </div>
                                                <hr>
                                            </header>
                                            <p>{{ availability.entry.shortDescription|raw }}</p>
                                            
                                            <ul class="list-inline">
                                                <li>
                                                    {% if(availability.seatsAvailable<1) %}
                                                        <a href="javascript:;" class="btn btn-primary" disabled="disabled">{% if availability.entry.soldOutLabel %}{{ availability.entry.soldOutLabel }}{% else %}Sold out{% endif %}</a>
                                                    {% else %}
                                                        <a href="/tour/book/{{availability.entry.slug}}/{{availability.startTime}}" class="btn btn-primary"><i class="fa fa-angle-right"></i> Book this tour</a>
                                                    {% endif %}
                                                </li>
                                                <li><a class="btn btn-info" href="{{ availability.entry.url}}"><i class="fa fa-angle-right"></i> More about this tour</a></li>
                                            </ul>
                                            
                                        </div>
                                        
                                    </div>
                                </li>

                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
        {% endcache %}

{%  endblock %}

{% block footer %}
{# </div>
<div class="container"> #}
{{ parent() }}
{% endblock %}