
{% extends "_base" %}

{% block extraHead %}
	<link rel="stylesheet" type="text/css" href="/assets/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/slick/slick-theme.css"/>
{% endblock %}

{# Set specific body class for this template #}
{% set bodyClass %} class="tour multi-column"{% endset %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block content %}

	{% set tourListInfo = null|toursList %}
	{% set quarterAvailabilities = tourListInfo.quarterAvailabilities %}

	{% include "_chunks/mastheadImage" %}

	<div class="wrap-main row">

		<div class="wrap-tour-inner col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
			<div class="row">

				<main role="main" class="col-xs-12 col-sm-8 col-sm-push-4">

					<div class="row">
						<div class="col-xs-12">
							<div class="wrap-title row">
								<div class="col-xs-12">
									<h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
									<p class="articleMeta">Posted on {{ entry.postDate.format('F d, Y') }}{% set categories = entry.newsCategories %}{% if categories | length %}</p>
									<p class="categories">Categories: {% nav category in categories %}<span><a href="{{ category.url }}">{{ category.title }}</a></span>&nbsp;{% endnav %}{% endif %}</p>
									{% if entry.introText %}
										<div class="lead">{{ entry.introText|raw }}</div>
									{% endif %}
									{{ entry.pageContent }}
									{% include "_chunks/contentBlocks" %}
								</div>
							</div>
						</div>
					</div>
				</main>
				<aside class="tourDetail col-xs-12 col-sm-4 col-sm-pull-8">
					{% include "_chunks/newsNavSidebar" %}
				</aside>
			</div>
		</div>
	</div>

{% endblock %}

