{#
# News index template
# -------------------
#
# This template is loaded whenever http://example.com/news is
# requested, because it is located at news/index.html in your
# craft/templates/ folder.
#
# See this page for more details on how Craft routes requests:
# http://buildwithcraft.com/docs/routing
#}

{% extends "_base" %}

{# Set specific body class for this template #}
{% set bodyClass %} class="tour multi-column"{% endset %}

{% block content %}
	{% include "_chunks/mastheadImage" %}
	<div class="wrap-main row">

		<div class="wrap-tour-inner col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
			<div class="row">

				<main role="main" class="col-xs-12 col-sm-8 col-sm-push-4">

					<header class="page-head">
						<h1>News - {{ category.title }}</h1>
					</header>

					{# Fetch all of the entries related to this category #}
					{% set entries = craft.entries.relatedTo(category) %}

					{# Output them #}
					<ul id="entry-list" class="entry-list list-unstyled row">
						{% for childEntry in entries %}
						<li class="article col-xs-6 col-md-3 col-lg-4">
							{# Common listing tile #}
							{% include "_chunks/listingTile" with {'childEntry': childEntry, 'hideLinkIcon': true} %}
						</li>
						{% endfor %}
					</ul>
				</main>
				<aside class="tourDetail col-xs-12 col-sm-4 col-sm-pull-8">
					{% include "_chunks/newsNavSidebar" %}
				</aside>
			</div>
		</div>
	</div>
{% endblock %}
