{#
# News index template
# -------------------
#
# This template is loaded whenever http://example.com/news is
# requested, because it is located at news/index.html in your
# craft/templates/ folder.
#
# See this page for more details on how Craft routes requests:
# http://buildwithcraft.com/docs/routing
#}

{% extends "_base" %}

{# Set specific body class for this template #}
{% set bodyClass %} class="tour multi-column"{% endset %}

{% block content %}

	{% include "_chunks/mastheadImage" %}

	<div class="wrap-main row">

		<div class="wrap-tour-inner col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
			<div class="row">

				<main role="main" class="col-xs-12 col-sm-8 col-sm-push-4">

					<header class="page-head">
						<h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
						<p class="lead">{{ entry.introText }}</p>
					</header>

					{% paginate craft.entries.section('news').limit(12) as entriesOnPage %}

					<ul id="entry-list" class="entry-list list-unstyled row">
						{% for childEntry in entriesOnPage %}
						<li class="article col-xs-6 col-md-3 col-lg-4">

							{# Common listing tile #}
							{% include "_chunks/listingTile" with {'childEntry': childEntry, 'hideLinkIcon': true} %}

						</li>
						{% endfor %}
					</ul>
					{% if paginate.totalPages>1 %}
						<nav>
							<ul class="pagination">
								{% if paginate.prevUrl %}
								<li>
									<a href="{{ paginate.prevUrl }}" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								{% endif %}

								{% for page, url in paginate.getPrevUrls(5) %}
								<li><a href="{{ url }}">{{ page }}</a></li>
								{% endfor %}

								<li class="active"><a href="#">{{ paginate.currentPage }}</a></li>

								{% for page, url in paginate.getNextUrls(5) %}
								<li><a href="{{ url }}">{{ page }}</a></li>
								{% endfor %}

								{% if paginate.nextUrl %}
								<li>
									<a href="{{ paginate.nextUrl }}" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
								{% endif %}
							</ul>
						</nav>
					{% endif %}
				</main>
				<aside class="tourDetail col-xs-12 col-sm-4 col-sm-pull-8">
					{% include "_chunks/newsNavSidebar" %}
				</aside>
			</div>
		</div>
	</div>
{% endblock %}