{% extends "_base" %}
{% set title = "Checkout" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th>Product</th><th>Qty</th><th>Price</th><th>Total</th>
                    </thead>
                    {%  for item in cart.products %}
                        <tr><td>{{ item.productCode }}</td><td>{{ item.qty }}</td><td>$</td><td>$</td></tr>
                    {% endfor %}
                    <tbody>

                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>
{%  endblock %}