{% extends "_base" %}
{% set title = product.name ~ " ("~product.code~")" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ product.name }}</h1>
            <h2>{{ product.code }}</h2>
            <div class="description">{{ product.description|raw }}</div>
            <div class="price">{{ product.price|currency('AUD') }} inc GST</div>

            <a href="{{ routes.checkout.urls.cart.url }}" class="btn btn-primary">Checkout</a>
        </div>
    </div>
</div>
{%  endblock %}