{% extends "quickcart/cp/_base" %}
{% import "_includes/forms" as forms %}

{% set crumbs = [
{ label: "QuickCart"|t, url: url('quickcart/cp/index') },
{ label: "Categories"|t, url: url('quickcart/categories') }
] %}

{% set selectedTab = 'categories' %}


{% block content %}
    <form method="post" action="" accept-charset="UTF-8">
        <input type="hidden" name="action" value="quickCart/adminCategory/save">
        <input type="hidden" name="redirect" value="quickcart/categories">
        {%  if  category.id %}
            <input type="hidden" name="categoryId" value="{{  category.id }}">
        {%  endif %}

        {{ getCsrfInput() }}

        {{ forms.textField({
            label: "Name"|t,
            instructions: "Give this category a name."|t,
            id: 'name',
            name: 'name',
            value: category.name,
            errors: category.getErrors('name'),
            required: true,
            translatable: true
        }) }}

        {{ forms.textField({
            label: "Code"|t,
            instructions: "Give this category a code."|t,
            id: 'code',
            name: 'code',
            value: category.code,
            errors: category.getErrors('code'),
            required: true,
            translatable: true
        }) }}

        {{ forms.selectField({
            label: "Parent"|t,
            instructions: "Give this category a parent code."|t,
            id: 'parent',
            name: 'parent',
            options: categoryTree,
            value: category.parent,
            errors: category.getErrors('parent'),
            translatable: true
        }) }}

        {{ forms.textareaField({
            label: "Description"|t,
            instructions: "HTML content for your category."|t,
            id: 'description',
            name: 'description',
            class: 'nicetext',
            value: category.description,
            errors: category.getErrors('description'),
        }) }}


        {{ forms.lightswitchField({
            label: "Category Enabled?"|t,
            instructions: "To hide this category, switch off."|t,
            on: category.enabled,
            small: true,
            name: 'enabled'
        }) }}


        <div class="buttons">
            <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
        </div>

    </form>

{% endblock %}



{% set notificationJs %}
    {# auto generate code #}
    new Craft.HandleGenerator('#name', '#code');
{% endset %}

{% includeJs notificationJs %}