{% extends "quickcart/cp/_base" %}

{% set title = "QuickCart - Categories"|t %}
{% set selectedTab = 'categories' %}

{% set content %}

    {% macro recurseCategories(categoriesArray,indent=0) %}
        {% for categoryArray in categoriesArray %}
            {%  set category = categoryArray.model %}
            <tr class="table-rows" data-id="{{ category.id }}" data-name="{{ category.name|t }}" data-level="{{ indent }}">
                <td scope="row" data-title="{{ 'Name'|t }}" style="padding-left:{{ indent*50 }}px;"><a class="move icon" title="{{ 'Reorder'|t }}" role="button"></a> <span class="status {% if category.enabled %}live{%  endif %}"></span><a href="{{ url('quickcart/categories/' ~ category.id) }}">{{ category.name|t }}</a></td>
                <td data-title="{{ 'Code'|t }}">{{ category.code|t }}</td>
                <td data-title="{{ 'Parent'|t }}">{% if category.parent %}{{ category.parent|t }}{%  else %}<em style="color:#DDDDDD">--TOP--</em>{%  endif %}</td>
                <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
            </tr>
            {%  if categoryArray.children is defined %}
                {{ _self.recurseCategories(categoryArray.children,indent+1) }}
            {% endif %}
        {% endfor %}
    {% endmacro %}
    {% import _self as macros %}

    <div id="newformcontainer" class="buttons">
        <a href="{{ url('quickcart/categories/new') }}" class="btn submit add icon">{{ "New Category"|t }}</a>
    </div>

    {% if categoriesTree|length>0 %}
        <table id="qcSortTable" class="data fullwidth collapsible">
            <thead>
            <th scope="col">{{ "Name"|t }}</th>
            <th scope="col">{{ "Code"|t }}</th>
            <th scope="col">{{ "Parent"|t }}</th>
            <td class="thin"></td>
            </thead>
            <tbody>
            {{ macros.recurseCategories(categoriesTree) }}
            </tbody>
        </table>
    {% endif %}
{% endset %}


{% set js %}
    var adminTable = new Craft.AdminTable({
        tableSelector: '#qcSortTable',
        noObjectsSelector: '#noforms',
        newObjectBtnSelector: '#newformcontainer',
        deleteAction: 'quickCart/adminCategory/delete',
        confirmDeleteMessage: '{{ "Are you sure you want to delete category {name}?"|t }}'
    });

    new QuickCart.TableSorter($('#qcSortTable'),'quickCart/adminCategory/reorder');
{% endset %}

{% includeJs js %}


