{% extends "quickcart/cp/_base" %}
{% import "_includes/forms" as forms %}

{% set crumbs = [
{ label: "QuickCart"|t, url: url('quickcart/cp/index') },
{ label: "Products"|t, url: url('quickcart/products') }
] %}

{% set selectedTab = 'products' %}


{% block content %}
    <form method="post" action="" accept-charset="UTF-8">
        <input type="hidden" name="action" value="quickCart/adminProduct/save">
        <input type="hidden" name="redirect" value="quickcart/products">
        {%  if  product.id %}
            <input type="hidden" name="productId" value="{{  product.id }}">
        {%  endif %}

        {{ getCsrfInput() }}

        {{ forms.textField({
            label: "Name"|t,
            instructions: "Give this product a name."|t,
            id: 'name',
            name: 'name',
            value: product.name,
            errors: product.getErrors('name'),
            required: true,
            translatable: true
        }) }}

        {{ forms.textField({
            label: "Code"|t,
            instructions: "Give this product a code."|t,
            id: 'code',
            name: 'code',
            value: product.code,
            errors: product.getErrors('code'),
            required: true,
            translatable: true
        }) }}

        {{ forms.textField({
            label: "Base Price"|t,
            instructions: "Give this product a base price (variations can add to, or replace)."|t,
            id: 'price',
            name: 'price',
            value: product.price,
            errors: product.getErrors('price'),
            required: true,
            translatable: true
        }) }}

        {{ forms.textareaField({
            label: "Description"|t,
            id: 'description',
            name: 'description',
            class: 'nicetext',
            value: product.description,
            errors: product.getErrors('description'),
        }) }}


        {{forms.editableTableField({
            label: "Categories"|t,
            instructions: "Select categories this product will be shown in."|t,
            id: 'categories',
            name: 'categories',
            errors: product.getErrors('categories'),
            cols:[
                { heading:'Categories', type:'select', options:categorySelectFieldOpts }
            ]
        })}}


        {{ forms.lightswitchField({
            label: "Taxable"|t,
            instructions: "If tax should be applied to this product switch on."|t,
            on: product.enabled,
            small: true,
            name: 'enabled'
        }) }}

        {{ forms.lightswitchField({
            label: "Product Enabled"|t,
            instructions: "To hide this product, switch off."|t,
            on: product.enabled,
            small: true,
            name: 'enabled'
        }) }}




        <div class="buttons">
            <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
        </div>

    </form>

{% endblock %}



{% set notificationJs %}
    {# auto generate code #}
    new Craft.HandleGenerator('#name', '#code');
{% endset %}

{% includeJs notificationJs %}