{% extends "quickcart/cp/_base" %}

{% set title = "QuickCart - Products"|t %}
{% set selectedTab = 'products' %}

{% set content %}
    <div id="newformcontainer" class="buttons">
        <a href="{{ url('quickcart/products/new') }}" class="btn submit add icon">{{ "New Product"|t }}</a>
    </div>

    {% if products|length>0 %}
        <table id="forms" class="data fullwidth collapsible">
            <thead>
            <th scope="col">{{ "Name"|t }}</th>
            <th scope="col">{{ "Code"|t }}</th>
            <th scope="col">{{ "Base Price"|t }}</th>
            <td class="thin"></td>
            </thead>
            <tbody>
            {% for product in products %}
                <tr data-id="{{ product.id }}" data-name="{{ product.name|t }}">
                    <td scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url('quickcart/products/' ~ product.id) }}">{{ product.name|t }}</a></td>
                    <td>{{ product.code|t }}</td>
                    <td>{{ product.priceString|t }}</td>
                    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endset %}

{% set js %}
    var adminTable = new Craft.AdminTable({
    tableSelector: '#forms',
    noObjectsSelector: '#noforms',
    newObjectBtnSelector: '#newformcontainer',
    deleteAction: 'quickCart/adminProduct/delete',
    confirmDeleteMessage: '{{ "Are you sure you want to delete product {name}?"|t }}'
    });
{% endset %}
{% includeJs js %}

