/*
Copyright © 2013 Adobe Systems Incorporated.

Licensed under the Apache License, Version 2.0 (the “License”);
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an “AS IS” BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* line 17, craft/src/scss/megamenu.scss */
.accessible-megamenu {
  position: relative;
  display: block;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 3.077em;
  color: #454545;
  background-color: #dfe2e2;
  border-color: #b3b3b3;
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 0 1px 1px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 35, craft/src/scss/megamenu.scss */
.accessible-megamenu h2,
.accessible-megamenu h3,
.accessible-megamenu h4 {
  font-size: 1em;
  display: inline;
  margin: 0;
  padding: 0;
  line-height: inherit;
}

/* line 45, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-top-nav-item {
  position: relative;
  display: block;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 3.077em;
  float: left;
  color: #454545 !important;
  text-shadow: 0 1px 0 #fff;
  -moz-text-shadow: 0 1px 0 #fff;
  border-right: 1px solid #b3b3b3;
  border-right-color: rgba(0, 0, 0, 0.3);
}

/* line 61, craft/src/scss/megamenu.scss */
.accessible-megamenu :focus {
  outline: 2px solid rgba(34, 95, 215, 0.3);
  -moz-outline-radius: 3px;
}

/* line 66, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-top-nav-item a[aria-haspopup] {
  position: relative;
  display: block;
  line-height: 3em;
  height: 3em;
  padding-left: 0.769em;
  padding-right: 0.769em;
  color: #454545 !important;
  text-decoration: none;
  box-shadow: inset 1px 1px 0 #fff;
  z-index: inherit;
}

/* line 80, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-top-nav-item a[aria-haspopup]:hover,
.accessible-megamenu .accessible-megamenu-top-nav-item a[aria-haspopup]:focus {
  color: #333 !important;
  outline-offset: -1px;
}

/* line 86, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-top-nav-item a[aria-haspopup]:hover,
.accessible-megamenu .accessible-megamenu-top-nav-item a[aria-haspopup]:focus,
.accessible-megamenu .accessible-megamenu-top-nav-item a[aria-haspopup].open {
  margin-left: 0;
  background: #f5f8fa none;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f8fa), to(#e3e5e5));
  background: -o-linear-gradient(top, #f5f8fa, #e3e5e5);
  z-index: 1002;
}

/* line 99, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-top-nav-item a[aria-haspopup].open {
  background: #f5f8fa none;
  padding-bottom: 2px;
}

/* line 104, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-top-nav-item:first-child a[aria-haspopup] {
  border-bottom-left-radius: 3px;
}

/* line 108, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-top-nav-item:first-child a[aria-haspopup].open {
  border-bottom-left-radius: 0px;
  border-left: 1px solid #b3b3b3;
  border-left-color: rgba(0, 0, 0, 0.3);
  left: -1px;
  margin-right: -1px;
}

/* line 116, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel {
  position: absolute;
  display: block;
  left: -1px;
  color: #454545;
  margin: 0;
  padding: 0 0.769em 0.769em;
  line-height: normal;
  background-color: #f5f8fa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f8fa), to(#e3e5e5));
  background-image: -o-linear-gradient(top, #f5f8fa, #e3e5e5);
  cursor: default;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5), inset 1px 1px 0 #fff;
  visibility: hidden;
  top: -9999em;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 250ms ease 250ms, max-height 500ms ease, visibility 0s linear 500ms, top 0s linear 500ms;
  transition: opacity 250ms ease 250ms, max-height 500ms ease, visibility 0s linear 500ms, top 0s linear 500ms;
  border: 1px solid #b3b3b3;
  border-color: rgba(0, 0, 0, 0.3);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 152, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel.open {
  visibility: visible;
  top: 3em;
  max-height: 600px;
  opacity: 1;
  z-index: 1001;
  -webkit-transition: opacity 250ms ease, max-height 500ms ease, visibility 0s linear 0s, top 0s linear 0s;
  transition: opacity 250ms ease, max-height 500ms ease, visibility 0s linear 0s, top 0s linear 0s;
}

/* line 165, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel a {
  display: inline-block;
  font-size: .92em;
  line-height: 1.2em;
  text-decoration: none;
  color: #225FD7;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0.5em;
}

/* line 176, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel.cols-4 {
  width: 878px;
}

/* line 180, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel.cols-4 > ol > li {
  width: 22%;
}

/* line 184, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel.cols-4b {
  width: 878px;
  left: -6.462em;
  border-top-left-radius: 3px;
}

/* line 190, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel.cols-4b > ol > li {
  width: 22%;
}

/* line 194, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel.cols-3 {
  width: 724px;
}

/* line 198, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel.cols-3 > ol > li {
  width: 30%;
}

/* line 202, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel.cols-1 {
  width: 615px;
}

/* line 206, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel.cols-1 > ol > li {
  width: auto;
}

/* line 210, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel ol {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 217, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel ol > li {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 224, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel > ol > li {
  float: left;
  display: block;
  margin-right: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 0 0 #fff;
}

/* line 234, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel > ol > li:first-of-type {
  padding-left: 0;
  border-left: none;
  box-shadow: none;
}

/* line 240, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel > p {
  color: #454545;
  font-size: 1.2em;
  line-height: 1.1em;
}

/* line 246, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel > ol > li > h3 > a {
  font-weight: bold;
  color: #454545;
  font-size: 1.2em;
  margin-bottom: 6px;
  padding-top: .4em;
  padding-bottom: 0;
  line-height: 1.1em;
}

/* line 256, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel ol ol > li > a {
  width: auto;
  text-indent: -2.333em;
  padding-left: 2.333em;
}

/* line 262, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel a:hover,
.accessible-megamenu .accessible-megamenu-panel a:focus {
  color: #225FD7;
  text-decoration: underline;
}

/* line 268, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel > ol > li > h3 > a:hover,
.accessible-megamenu .accessible-megamenu-panel > ol > li > h3 > a:focus {
  color: #333;
}

/* line 273, craft/src/scss/megamenu.scss */
.accessible-megamenu .accessible-megamenu-panel hr {
  border-width: 1px 0px;
  border-style: solid;
  border-top-color: rgba(0, 0, 0, 0.3);
  border-bottom-color: #fff;
}
