{% extends "_base" %}

{# Set specific body class for this template #}
{% set bodyClass %} class="content"{% endset %}

{% set entry = craft.entries.slug('page-not-found').first() %}
{% set title=entry.title %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% include "_chunks/mastheadImage" %}
    <div class="wrap-main{% if entry.featuredImage | length<1 %} no-masthead{% endif %} row">
        <main role="main" class="col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-xs-12 column-padding">
                    <header class="page-head">
                        <h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
                        {% if entry.introText %}
                            <p class="lead">{{ entry.introText|raw }}</p>
                        {% endif %}
                    </header>
                    {{ entry.pageContent }}
                </div>
            </div>
        </main>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}