{% extends "_base" %}

{# Set specific body class for this template #}
{% set bodyClass %} class="home"{% endset %}

{% block header %}
    {{ parent() }}
    {% include "_chunks/mastheadSlideshow" %}
{% endblock %}

{% block content %}
    {%  cache %}
        {% if entry.pageContent %}
            <div class="row">
                <main role="main" class="col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 text-center">
                    <h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
                    {% if entry.pageContent %}{{ entry.pageContent }}{% endif %}
                </main>
            </div>
        {% endif %}
    {% endcache %}
    {% include "_chunks/additionalContent" %}
    
    {#
    <div class="row">
        <div style="background-color:#f4f4f4; padding:15px 0px 15px 0px;">
            <div style="width:470px; margin:10px auto 10px auto;">
                <div id="TA_selfserveprop48" class="TA_selfserveprop">
                    <ul id="EBukKwMjux" class="TA_links vmLW8vWjE">
                        <li id="8S4VW3wf" class="d9JPvw">
                            <a target="_blank" href="https://www.tripadvisor.com.au/"><img src="https://www.tripadvisor.com.au/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
                        </li>
                    </ul>
                </div>
                <script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=48&amp;locationId=12214877&amp;lang=en_AU&amp;rating=true&amp;nreviews=4&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=true&amp;border=true&amp;display_version=2"></script>
            </div>
        </div>
    </div>
    #}
    
{% endblock %}

{% block footer %}
    {% include "_chunks/subFooter" %}
    {{ parent() }}
{% endblock %}

{% block extraFoot %}
    {% include "_chunks/revoMastheadSlideshow" %}
{% endblock %}