{% extends "_base" %}

{% block content %}

<div class="row">
	<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

		<header class="page-head">
			<h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
			<p class="lead">{{ entry.introText|raw }}</p>
		</header>

		<div id="googleSearch">
		<script>
			(function() {
				var cx = '015541076970986494582:y19n_is0cp0';
				var gcse = document.createElement('script');
				gcse.type = 'text/javascript';
				gcse.async = true;
				gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
						'//cse.google.com/cse.js?cx=' + cx;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(gcse, s);
			})();
		</script>
		<gcse:search enableImageSearch="{% if craft.request.getQuery('enableImageSearch') %}{{craft.request.getQuery('enableImageSearch')}}{%else%}0{%endif%}" image_filter="1"></gcse:search>

		</div>
		<style>
			#googleSearch{
				padding-bottom:100px;
			}
			#googleSearch *{
				box-sizing:content-box;
			}
			.gsc-input-box{
				padding:0px 0px 5px 0px;
			}
			.gsst_a{
				padding-top:8px;
			}
			.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top{
				padding-left:0px;
			}
		</style>
	</div>
</div>

{% endblock %}