{% set tourListInfo = null|toursList %}
{% set quarterAvailabilities = tourListInfo.quarterAvailabilities %}
Rezdy Cache Updated - You should now go into the Craft Admin area and hit "Settings" / "Clear Caches" and clear all (this will force all internal craft caches to regenerate as well).