{% spaceless %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" name="viewport">
	<meta name="format-detection" content="telephone=no" />
	<meta name="msvalidate.01" content="8A99D2C86ED0674A945787172D2C154C" />
	<title>{% if entry.titleOverride is defined and entry.titleOverride|length > 0 %}
			{{ entry.titleOverride }}
		{% else %}
			{% if entry.title is defined %}
				{{ entry.title }}
			{%  else %}
				{{ title }} {# needed for Marcus custom booking page route #}
			{% endif %}
		{% endif %}</title>
	<link rel="home" href="{{ siteUrl }}" />
	{% if entry.metaDescription is defined %}<meta name="description" content="{{ entry.metaDescription }}"/>{% endif %}
	
	<link rel="shortcut icon" type="image/ico" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-touch-icon-144x144.png">

	{# <style>{% include "_chunks/inlineCSS" %}</style> #}
	
	{% if craft.config.devMode %}
		<meta name="robots" content="noindex,nofollow">
		<link rel="stylesheet" media="all" href="{{ '/assets/css/styles.css'|timedAsset }}">
		{# <link rel="stylesheet" href="{{ '/assets/css/megamenu.css'|timedAsset }}"> #}
	{% else %}
		<link rel="stylesheet" media="all" href="{{ '/assets/css/styles.min.css'|timedAsset }}">
		{# <link rel="stylesheet" href="{{ '/assets/css/megamenu.css'|timedAsset }}"> #}
	{% endif %}	
	
	{# console.log fix for IE8 #}
	<script>if(!window.console){window.console={};}; if(!window.console.log){window.console.log=function(){};};</script>
	
	{# <script src="/assets/js/modernizr.js"></script> #}
	
	{# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries #}
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	{% block extraHead %}{% endblock %}

</head>

<body{% if bodyClass is defined %}{{ bodyClass }}{% endif %}>
<div class="site-wrap">
	<div class="container">
		{% block header %}
		{% include "_chunks/header" %}
		{% endblock %}

		{% block content %}{% endblock %}
		{% block footer %}
		{% include "_chunks/footer" %}
		{% endblock %}
	</div>
</div>	




	{# loadfont awesome #}
	{#
	<script type="text/javascript">
		function loadCSS() {
			var cssFiles = [
				'http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css',
			];
			for(var i=0;i<cssFiles.length;i++){
				var css = document.createElement('link');
				css.href = cssFiles[i];
				css.rel = 'stylesheet';
				css.type = 'text/css';
				document.getElementsByTagName('head')[0].appendChild(css);
			}
		}
		setTimeout(loadCSS,50);
	</script>
	#}


	{# load web font #}
	<script type="text/javascript">
		function loadWebFonts(){
			setTimeout(function(){
				WebFont.load({typekit: {id:'fka7phs'}})
			},50);
		}
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"  onload="loadWebFonts()" async></script>


	{# load Javascripts #}
	<script type="text/javascript">
		function loadJSLibs() {
			var libFiles = [
				'{{ '/assets/js/libs.min.js'|timedAsset }}',
				{% if craft.config.devMode %}'{{ '/assets/js/main.js'|timedAsset }}'{% else %}'{{ '/assets/js/main.min.js'|timedAsset }}'{% endif %},
				'//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'
			];
			for(var i=0;i<libFiles.length;i++){
				var fileref=document.createElement('script')
				fileref.setAttribute("type","text/javascript")
				fileref.setAttribute("src", libFiles[i])
				document.getElementsByTagName("head")[0].appendChild(fileref);
			}
		}
		if (typeof $ === "undefined"){
			setTimeout(loadJSLibs,10);
		}else{
			loadJSLibs();
		}
	</script>


	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-76456264-1', 'auto');
	ga('send', 'pageview');
	</script>

	{% block extraFoot %}
	{% endblock %}

</body>
</html>
{% endspaceless %}
