{% extends "_base" %}

{% block content %}

<section class="searchResults" style="padding: 40px 0px;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-xs-12 pageHead">
						<h1>Search Results</h1>
					</div>
					{% set query = craft.request.getParam('q') %}

					<div class="col-xs-12 searchForm">
						<form class="form-inline" action="{{ url('search-results') }}">
							<div class="form-group">
								<label class="visuallyhidden" for="searchHeadField">Search {{ siteName }}</label>
								<input id="searchHeadField" type="search" class="form-control" name="q" placeholder="Enter your search query" value="{{ craft.request.getParam('q') }}">
							</div>
							<button type="submit" class="btn btn-primary">Search <i class="fa fa-long-arrow-right"></i></button>
						</form>
					</div>
					<p>&nbsp;</p>
					{% if query %}
					{% set entries_found = craft.entries.search(query).order('score').excludeFromSearchAndSitemaps('not 1') %}
					{% set totalResults = entries_found|length %}

					{% if totalResults>0 %}


					<div class="col-xs-12">
						<div class="well"><strong>{{ totalResults }}</strong> results found for "<strong>{{ query }}</strong>"</div>
					</div>


					{% if entries_found|length>0 %}
					<div class="col-xs-12 relatedproducts padspace">
						<h2>Content Found ({{ entries_found|length }})</h2>

						{% for thisentry in entries_found %}
						<p style="clear:both; min-height: 90px; ma">

							<a style="color:#00E; text-decoration:underline;" href="{{ thisentry.url }}">{% if thisentry.titleOverride %}{{ thisentry.titleOverride }}{% else %}{{ thisentry.title }}{% endif %}</a>
							<br><a style="font-size:14px;" href="{{ thisentry.url }}">{{ thisentry.url }}</a><br>
							{% if thisentry.featuredImage.first %}
								{% set thumb = { mode: 'scale', height: 70, width: 70, quality: 80 } %}
								<img style="float:left; margin-right:15px; margin-bottom: 15px; border:1px solid #ccc;" src="{{ thisentry.featuredImage.first.url(thumb) }}" />
							{% endif %}
							{% set searchtext = '' %}
							{% if thisentry.introText|striptags|length>0 %}
								{% set searchtext = thisentry.introText|striptags %}
							{% endif %}

							{% if thisentry.pageContent|striptags|length>0 %}
								{% if searchtext|length>0 %}
									{% set searchtext = searchtext~' - '~thisentry.pageContent|striptags %}
								{%  else %}
									{% set searchtext = thisentry.pageContent|striptags %}
								{% endif %}
							{% endif %}
							{% if searchtext is empty %}
								{% set searchtext = thisentry.metaDescription|striptags %}
							{% endif %}
							{% if searchtext|length>0 %}<span style="font-size:14px; line-height: 150%;">{{ searchtext|searchStringHighlight(query)|raw}}</span>{% endif %}
						</p>
						{% endfor %}

						
					</div>
					{% endif %}
					{% else %}

					<div class="col-xs-12">
						<div class="well">Your search for &quot;<strong>{{ query }}</strong>&quot; didn't return any results.</div>
					</div>

					{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

	<header class="section-header">
		<div class="my-card js-my-card">

		</div>
	</header>
	<section class="section-newslist">

	</section>

	<footer class="section-footer2">

	</footer>

{% endblock %}