{% extends "_base" %}

{# Set specific body class for this template #}
{% set bodyClass %} class="content"{% endset %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% include "_chunks/mastheadImage" %}
    <div class="wrap-main{% if entry.featuredImage | length<1 %} no-masthead{% endif %} row">
        <main role="main" class="col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-xs-12 column-padding">
                    <header class="page-head">
                        <h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
                        {% if entry.introText %}
                            <p class="lead">{{ entry.introText|raw }}</p>
                        {% endif %}
                    </header>
                    {{ entry.pageContent }}


                    <ul class="nav-mobile">

                        {% set e = craft.entries.id(2).first() %} 
                        <li><a href="{{ e.url }}">{{ e.title }}</a></li>

                        {% set e = craft.entries.id(30).first() %}
                        <li><a href="{{ e.url }}">{{ e.title }}</a></li>

                        {% set e = craft.entries.id(423).first() %}
                        <li><a href="{{ e.url }}">{{ e.title }}</a></li>


                        {% for block in primaryNav.megaMenu %}
                            {% if block.type == "sectionOne" %}

                                {% set segments = block.entryIds|split(',') %}
                                {% for segment in segments %}
                                    {% set segmentInfo = segment|split(':') %}

                                    {% if segmentInfo[0] == 'asset' %}
                                        {% set ref = craft.assets.id(segmentInfo[1]).first() %}
                                    {% else %}
                                        {% set ref = craft.entries.id(segmentInfo[1]).first() %}
                                    {% endif %}

                                    {% if ref %}
                                        <li><a href="{{ref.url}}"{% if segmentInfo[0]=='asset' %} target="_blank"{%endif%}>{{ref.title}} {% if segmentInfo[0]=='asset' %} <i class="fa fa-file-pdf-o"></i>{%endif%}</a></li>
                                        {% if segmentInfo[0] != 'asset' and ref.id==188 %}
                                            {% set tourEntries = craft.entries.section('tours').hideFromNavigation('not 1').level(1) %}
                                            <ul>
                                                {% for tourEntry in tourEntries %}
                                                    <li><a href="{{tourEntry.url}}">{{tourEntry.title}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}


                            {% elseif block.type == "sectionThree" %}

                                {% set segments = block.entryIds|split(',') %}
                                {% for segment in segments %}
                                    {% set segmentInfo = segment|split(':') %}

                                    {% if segmentInfo[0] == 'asset' %}
                                        {% set ref = craft.assets.id(segmentInfo[1]).first() %}
                                    {% else %}
                                        {% set ref = craft.entries.id(segmentInfo[1]).first() %}
                                    {% endif %}
                                    {% if ref %}
                                        <li><a href="{{ref.url}}"{% if segmentInfo[0]=='asset' %} target="_blank"{%endif%}>{{ref.title}} {% if segmentInfo[0]=='asset' %} <i class="fa fa-file-pdf-o"></i>{%endif%}</a></li>
                                    {% endif %}
                                {% endfor %}


                            {% elseif block.type == "sectionFour" %}

                                {% set segments = block.entryIds|split(',') %}
                                {% for segment in segments %}
                                    {% set segmentInfo = segment|split(':') %}

                                    {% if segmentInfo[0] == 'asset' %}
                                        {% set ref = craft.assets.id(segmentInfo[1]).first() %}
                                    {% else %}
                                        {% set ref = craft.entries.id(segmentInfo[1]).first() %}
                                    {% endif %}
                                    {% if ref %}
                                        <li><a href="{{ref.url}}"{% if segmentInfo[0]=='asset' %} target="_blank"{%endif%}>{{ref.title}} {% if segmentInfo[0]=='asset' %} <i class="fa fa-file-pdf-o"></i>{%endif%}</a></li>
                                    {% endif %}
                                {% endfor %}

                            {% endif %}
                        {% endfor %}

                        {# Output pdf entries last in mobile nav #}
                        {% for block in primaryNav.megaMenu %}

                            {% if block.type == "sectionTwo" %}

                                {% set segments = block.entryIds|split(',') %}
                                {% for segment in segments %}
                                    {% set segmentInfo = segment|split(':') %}

                                    {% if segmentInfo[0] == 'asset' %}
                                        {% set ref = craft.assets.id(segmentInfo[1]).first() %}
                                    {% else %}
                                        {% set ref = craft.entries.id(segmentInfo[1]).first() %}
                                    {% endif %}
                                    {% if ref %}
                                        <li><a href="{{ref.url}}"{% if segmentInfo[0]=='asset' %} target="_blank"{%endif%}>{{ref.title}} {% if segmentInfo[0]=='asset' %} <i class="fa fa-file-pdf-o"></i>{%endif%}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                    </ul>

                </div>
            </div>
        </main>
    </div>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}