{# use these wd_ template as they then won't get overwritten bu a plugin update #}

<p>Thank you for contacting Mulga Bicycle Tours. For your records a copy of your enquiry is included below. We will be in touch with you soon.</p>


{% if data is defined %}
  <table>
  {% for key, value in data %}
    {% set field = craft.fields.getFieldByHandle(key) %}

    {% if value %}
    <tr>
      <td><strong>{{ field.name }}: </strong></td>

      {% if value | checkArray == '1' %}
      <td>
      {% for key, item in value %}
        {% if item != '' %}
          {{ item }},  
        {% endif %} 
      {% endfor %}
      </td>
      {% else %}
      <td>{{ value|nl2br }}</td>
      {% endif %}
      
    </tr>
    {% endif %}
  {% endfor %}
  </table>
{% endif %}