{% extends "_base" %}

{# Set specific body class for this template #}
{% set bodyClass %} class="booking"{% endset %}


{% block extraHead %}
    {% if tour_entry.bookPageMetaDescription is defined %}<meta name="description" content="{{ tour_entry.bookPageMetaDescription }}"/>{% endif %}
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap-datepicker.min.css'|timedAsset }}">
{% endblock %}

{% block content %}

<div class="wrap-main row" style="position: static">
  
    <div class="col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1" style="position: static">
        <main role="main">
            <h1>{{ h1 }}</h1>
            <p>Thank you for choosing a Mulga Bicycle Tour. Please fill out the form below to reserve your place.</p>
            <p>To complete your booking online you must have a valid email address. This is so we can send you an email confirming that we have received your booking request. If you do not have an email address please <a class="bodylink" href="/contact">Contact Us</a> before completing the form below so we can assist you with your booking.</p>
        </main>
        <hr/>
        <div id="react-content"></div>
    </div>

</div>    
{%  endblock %}


{% block extraFoot %}
    {% if craft.config.devMode %}
        <script src="{{ '/assets/js/react.js'|timedAsset }} "></script>
    {% else %}
        <script src="{{ '/assets/js/react.min.js'|timedAsset }} "></script>
    {% endif %}

    <script src="{{ '/assets/js/react-dom.min.js'|timedAsset }}"></script>
    <script src="{{ '/assets/js/react_app.js'|timedAsset }}"></script>
    <script>
        function jqIsLoaded() {
            if (typeof GLOB_JsLibsLoaded==="undefined") {
                setTimeout(jqIsLoaded, 5);
            }else{

                var fileref=document.createElement('script');
                fileref.setAttribute("type","text/javascript");
                fileref.setAttribute("src", '{{ '/assets/js/bootstrap-datepicker.min.js'|timedAsset }}');
                document.getElementsByTagName("head")[0].appendChild(fileref);

                ReactDOM.render(React.createElement(BookingUI,{
                    tourid:'{{ tourid }}',
                    bookingfee:'{{ tourInfo.bookingFee }}',
                    starttime:'{{ starttime }}',
                    waiverForm:'{{ tour_entry.waiverForm.first().url }}',
                    personalInfoForm:'{{ craft.assets.id(410).first().url }}',
                }),document.getElementById('react-content'));
            }
        }
        jqIsLoaded();
    </script>
{% endblock %}