{% extends "_base" %}

{% block extraHead %}

    {% if entry.featuredImage | length %}
        {# Revo slider #}
        {# <link rel="stylesheet" type="text/css" href="/assets/css/settings.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/navigation.css"> #}

        {# Revo js #}
        {# <script type="text/javascript" src="/assets/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.themepunch.revolution.min.js"></script> #}

        {# Revo extensions (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) #}
        {# <script type="text/javascript" src="/assets/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="/assets/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="/assets/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="/assets/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="/assets/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="/assets/js/extensions/revolution.extension.video.min.js"></script> #}
    {% endif %}

    {# Slick slider #}
    <link rel="stylesheet" type="text/css" href="/assets/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.fancybox.min.css"/>

{% endblock %}


{# Set specific body class for this template #}
{% set bodyClass %} class="tour multi-column"{% endset %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}


    {% set tourListInfo = null|toursList %}
    {% set quarterAvailabilities = tourListInfo.quarterAvailabilities %}

    {% include "_chunks/mastheadImage" %}

    <div class="wrap-main row">

        <div class="wrap-tour-inner col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
            <div class="row">
                <main role="main" class="col-xs-12 col-sm-8 col-sm-push-4">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="wrap-title row">
                                <div class="col-xs-12">
                                    <h1>{{ entry.title }}</h1>
                                    {# output book button #}
                                    {#
                                    <div class="visible-xs">
                                        {% for quarter in quarterAvailabilities %}
                                            {% if quarter.tours is not empty %}
                                                {% for availability in quarter.tours %}
                                                    {% if availability.entry.id==entry.id %}
                                                        {% set availabilityInfo = availability %}
                                                        {% if(availabilityInfo.seatsAvailable<1) %}
                                                            <a style="color:#FFFFFF!important; text-decoration:none;" href="javascript:;" class="btn btn-primary btn-lg btn-block" disabled="disabled">{% if entry.soldOutLabel %}{{ entry.soldOutLabel }}{% else %}Sold out{% endif %}</a>
                                                        {% else %}
                                                            <a style="color:#FFFFFF!important; text-decoration:none;" href="/tour/book/{{entry.slug}}/{{ availabilityInfo.startTime }}" class="btn btn-primary btn-lg btn-block"><i class="fa fa-angle-right"></i> Book this tour</a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    #}
                                </div>
                            </div>


                            {% if entry.tourVideo %}
                                <div class="row">
                                    <div class="wrap-video col-xs-12" style="margin-bottom:30px;">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe width="853" height="480" src="https://www.youtube.com/embed/{{ entry.tourVideo }}?rel=0&showinfo=0&disablekb=0&modestbranding=0&rel=0" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                {% include "_chunks/tourImages" %}
                            {% endif %}

                            
                            <div class="row">
                                <section class="tour-description col-sm-12">
                                    {%  if entry.longDescription is defined %}
                                        {{ entry.longDescription }}
                                        <hr>
                                    {%  endif %}
                                    {% if entry.sidebarHeaderContent is not empty %}<div class="visible-xs sidebarHeaderContent" style="margin-bottom:30px;">{{entry.sidebarHeaderContent}}</div>{% endif %}
                                    <a style="color:#FFFFFF!important; text-decoration:none; margin-bottom:20px;" class="hidden-sm hidden-md hidden-lg btn btn-info btn-lg btn-block visible-xs" href="javascript:;" id="largeMapLinkMob" data-toggle="modal" data-target="#mapModal">View Tour Map</a>

                                </section>


                            </div>

                            <div class="hidden-xs">{% include "_chunks/tourDays" %}</div>

                            {% if tourInfo.importantInformation | length %}
                                <div class="hidden-xs">
                                    <div class="row">
                                        <section class="col-xs-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Important information</h3>
                                                </div>
                                                <div class="panel-body">
                                                    {{ tourInfo.importantInformation }}
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </main>
                {% include "_chunks/asideTour" %}
            </div>
            <div class="visible-xs">{% include "_chunks/tourDays" %}</div>
            {% if tourInfo.importantInformation | length %}
                <div class="visible-xs">
                    <div class="row">
                        <section class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Important information</h3>
                                </div>
                                <div class="panel-body">
                                    {{ tourInfo.importantInformation }}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}

{{ parent() }}
{% endblock %}

{% block extraFoot %}

    <script type="text/javascript">

        function jqIsLoaded() {
            if (typeof GLOB_JsLibsLoaded==="undefined") {
                setTimeout(jqIsLoaded, 5);
            }else{

                var fileref=document.createElement('script');
                fileref.setAttribute("type","text/javascript");
                fileref.setAttribute("src", '{{ '/assets/slick/slick.min.js'|timedAsset }}');
                document.getElementsByTagName("head")[0].appendChild(fileref);

                function slickIsLoaded(){
                    if(typeof($().slick)!=='undefined'){
                        $('.slideWrap').slick({
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows: true,
                            fade: false
                        });
                    }else{
                        setTimeout(slickIsLoaded, 5);
                    }
                }
                setTimeout(slickIsLoaded, 5);

                $(document).ready(function(){

                    //Google Maps Script
                    var mapData =[{kml:"{{ siteUrl }}{{ entry.tourRoute.first().url }}"}];
                    var ceGoogleMap = new GoogleMapHandler();
                    ceGoogleMap.init(mapData,null,"googleMap",null,true,false);

                    $('#largeMapLink,#largeMapLinkMob').click(function(){
                        setTimeout(function(){
                            var mapData =[{kml:"{{ siteUrl }}{{ entry.tourRoute.first().url }}"}];
                            var ceGoogleMap = new GoogleMapHandler();
                            ceGoogleMap.init(mapData,null,"googleMapLarge",null,true,true);
                        },500);
                    });
                });
            }
        }
        jqIsLoaded();
    </script>

<!-- Map Modal -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="largeMapLink">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ entry.title }} - Tour Map</h4>
            </div>
            <div class="modal-body">
                <div id="googleMapWrapperLarge"><div class="googleLarge" id="googleMapLarge"></div></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}