{% extends "_layouts/cp" %}
{% includeCssResource "mulga/cp/css/styles.css" %}
{% set tabs = {
    about: { label: "About"|t, url: url('quickcart/cp/index') },
    categories: { label: "Categories"|t, url: url('quickcart/categories') },
    products: { label: "Products"|t, url: url('quickcart/products') }
} %}