{% extends "mulga/cp/_base" %}

{% set title = "Mulga - About"|t %}
{% set selectedTab = 'about' %}

{% set pluginVersion = craft.plugins.getPlugin('mulga').getVersion() %}

{% set content %}
    <table class="data fullwidth collapsible">
        <tbody>
            <tr><td><strong>Version</strong></td><td>QuickCart {{ pluginVersion }}</td></tr>
            <tr><td><strong>Documentation</strong></td><td>To come...</td></tr>
            <tr><td><strong>GitHub</strong></td><td>To come...</td></tr>
        </tbody>
    </table>
{% endset %}

