{% import "_includes/forms" as forms %}

{{forms.textField({
	label: "Notification Email Address"|t,
	id: 'notificationEmail',
	name: 'notificationEmail',
	instructions: "The email address you would like order notifications to go to."|t,
	value: settings.notificationEmail,
	errors: settings.getErrors('notificationEmail')
})}}
