{% import "_includes/forms" as forms %}

{{forms.textField({
	label: "Order Notification Email Address"|t,
	id: 'notificationEmail',
	name: 'notificationEmail',
	instructions: "The email address you would like order notifications to go to."|t,
	value: settings.notificationEmail,
	errors: settings.getErrors('notificationEmail')
})}}

<div class="field">
	<div class="heading"><label>{{"Shipping Options"|t}}</label>
		<div class="instructions">{{"Adjust shipping methods here."|t}}</div>
	</div>
{{forms.editableTable({
	id: 'shippingModules',
	name: 'shippingModules',
	instructions: "Adjust shipping methods here."|t,
	errors: settings.getErrors('shippingModules'),
	cols:[
		{heading:'Class',type:'textField',value:'PayPal',static:true},
		{heading:'Restrict Group',type:'select',options:[
			{value:'',label:'No Restriction'},
			{value:1,label:'Group 1'},
			{value:2,label:'Group 2'},
			{value:3,label:'Group 3'},
		]},
		{heading:'Enabled',type:'checkbox'},
	],
	rows:settings.shippingModules
})}}
</div>

<div class="field">
	<div class="heading"><label>{{"Payment Options"|t}}</label>
		<div class="instructions">{{"Adjust payment methods here."|t}}</div>
	</div>
{{forms.editableTable({
	id: 'paymentModules',
	name: 'paymentModules',
	instructions: "Adjust payment methods here."|t,
	errors: settings.getErrors('paymentModules'),
	cols:[
		{heading:'Class',type:'textField',value:'PayPal',static:true},
		{heading:'Restrict Group',type:'select',options:[
			{value:'',label:'No Restriction'},
			{value:1,label:'Group 1'},
			{value:2,label:'Group 2'},
			{value:3,label:'Group 3'},
		]},
		{heading:'Enabled',type:'checkbox'},
	],
	rows:settings.paymentModules
})}}
</div>

<div class="field">
	<div class="heading"><label>{{"Prices Include Tax"|t}}</label>
		<div class="instructions">
			<p>{{"If prices in your products include tax already, switch this option on (tax will be removed when needed)."|t}}</p>
			<p>{{"If prices in your products exclude tax, switch this option off (tax will be removed when needed)."|t}}</p>
		</div>
	</div>
	{{ forms.lightswitch({
		on: settings.pricesIncludeTax,
		small: true,
		name: 'pricesIncludeTax'
	}) }}

</div>