@import "bourbon";
@import "andy";
@import "jquery.mmenu.all";
@import "megamenu";
@import "settings"; 
@import "navigation";

/* $CONTENTS
/*------------------------------------*/
/**
 * CONTENTS................. You’re reading it!
 * BOOTSTRAP ............... Customisation and Import
 * VARIABLES ............... Other Variables for site
 * WIREFRAME ............... Setting for Wireframe
 * TYPOGRAPHICAL ........... Common elements
 * LISTS ...................
 * IMAGES ..................
 * LAYOUT ..................
 * FORMS ................... 
 * TABLES .................. 
 * HELPER CLASSES .......... 
 * LEGACY ...............Legacy and fallback styles
 */

 @mixin MQ($media) {
 	@if $media == xxs-min { 
 		@media only screen and (min-width: 0px) and (max-width: 450px) { @content; }
 	}
 	@else if $media == xs-min {
 		@media only screen and (min-width: $screen-xs-min) { @content; }
 	}
 	@else if $media == xs {
 		@media only screen and (max-width: $screen-xs-max) { @content; }
 	}
 	@else if $media == xs-sm {
 		@media only screen and (min-width: 0px) and (max-width: $screen-sm-max) { @content; }
 	}
 	@else if $media == sm-min {
 		@media only screen and (min-width: $screen-sm-min) { @content; }
 	}
 	@else if $media == sm {
 		@media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { @content; }
 	}
 	@else if $media == sm-md {
 		@media only screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) { @content; }
 	}
 	@else if $media == md-min {
 		@media only screen and (min-width: $screen-md-min) { @content; }
 	}
 	@else if $media == md {
 		@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) { @content; }
 	}
 	@else if $media == lg-min {
 		@media only screen and (min-width: $screen-lg-min) { @content; }
 	}
 	@else if $media == xl {
 		@media only screen and (min-width: 1520px) and (max-width: 3000px) { @content; }
 	}
 	@else if $media == ret {    
 		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; }
 	}
 } 

 @mixin transition3 {
 	transition: all 0.3s ease-in-out 0s;
 	-o-transition: all 0.3s ease-in-out 0s;
 	-ms-transition: all 0.3s ease-in-out 0s;
 	-moz-transition: all 0.3s ease-in-out 0s;
 	-webkit-transition: all 0.3s ease-in-out 0s;
 }
 @mixin transition6 {
 	transition: all 0.6s ease-in-out 0s;
 	-o-transition: all 0.6s ease-in-out 0s;
 	-ms-transition: all 0.6s ease-in-out 0s;
 	-moz-transition: all 0.6s ease-in-out 0s;
 	-webkit-transition: all 0.6s ease-in-out 0s;
 }
 @mixin transition9 {
 	transition: all 0.6s ease-in-out 0s;
 	-o-transition: all 0.6s ease-in-out 0s;
 	-ms-transition: all 0.6s ease-in-out 0s;
 	-moz-transition: all 0.6s ease-in-out 0s;
 	-webkit-transition: all 0.6s ease-in-out 0s;
 }

 @mixin retinize($file, $type, $rep, $x, $y, $width, $height) {
 	background: transparent url('../images/' + $file + '.' + $type) $rep $x $y;

 	@media (-webkit-min-device-pixel-ratio: 1.5),
 	(min--moz-device-pixel-ratio: 1.5),
 	(-o-min-device-pixel-ratio: 3/2),
 	(min-device-pixel-ratio: 1.5),
 	(min-resolution: 1.5dppx) {
 		& {
 			background: transparent url('../images/' + $file + '@2x.' + $type) $rep $x $y;
 			-webkit-background-size: $width $height;
 			-moz-background-size: $width $height;
 			background-size: $width $height;
 		}
 	}
 }

 @mixin transition-all($time) {
 	-webkit-transition: all $time;
 	-moz-transition: all $time;
 	-ms-transition: all $time; /* IE10 is actually unprefixed */
 	-o-transition: all $time;
 	transition: all $time;
 }

 @mixin section-padding($top, $bottom) {
 	padding: {
 		bottom: em($bottom / 2);
 		top: em($top / 2);
 	}

 	@media (min-width: $screen-sm-min) {
 		padding: {
 			bottom: em($bottom);
 			top: em($top);
 		}
 	}
 }

 @mixin main-padding {
 	padding: {
 		left: em(15px);
 		right: em(15px);
 	}

 	@media (min-width: $screen-sm-min) {
 		padding: {
 			left: em(45px);
 			right: em(45px);
 		}
 	}
 }

/* BOOTSTRAP
/*------------------------------------*/


// Bootstrap variables customisation.
// Settings for some of the most global styles. Overrides varation.scss

// Gradient
$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

// Set pallette colors
$brand-primary:         #1fbba1 !default;
$brand-secondary:       #4b6fa7 !default;
$brand-tertiary:        #1b6d92 !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$neutral:               #ffffff !default;
$blue-dark:             #101721 !default;
$blue:					#155a99 !default;
$purple:                #4b6fa7 !default;
$yellow:				#f4c12a !default;
$green-dark:			#179c86 !default;
$red:					#a11d21 !default;


//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Small screen / tablet
$container-tablet:             ((738px + $grid-gutter-width)) !default;
// Medium screen / desktop
$container-desktop:            ((994px + $grid-gutter-width)) !default;
// Grid
$container-large-desktop:      ((994px + $grid-gutter-width)) !default;

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
// $screen-xs:                  480px !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  738px !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  994px !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  994px !default;



// Background color for `<body>`.
$body-bg:               #fff !default;

// Global text color on `<body>`.
$text-color:            $gray-dark !default;

// Global textual link color.
$link-color:            $brand-primary !default;

// Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;

//== Typography
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "proxima-nova",sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          16px !default;
$font-size-large:         ceil(($font-size-base * 1.125)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.75)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.25)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 1.875)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.5)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.125)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.75)) !default; // ~12px

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-default-color:              $neutral !default;
$btn-default-bg:                 transparent !default;
$btn-default-border:             $neutral !default;

$btn-primary-color:              $neutral !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

$btn-info-color:                 $neutral !default;
$btn-info-bg:                    $brand-secondary !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;

$border-radius-base:             2px !default;
$border-radius-large:            2px !default;

// Import Bootstrap
@import "../bs-assets/stylesheets/bootstrap/variables";
@import "../bs-assets/stylesheets/bootstrap";

/* $VARIABLES
/*------------------------------------*/

// 01 colours

$highlight: $gray-light; 

h1{
	color:$brand-primary;
	font-size:27px;
	@include MQ(sm-min){
		font-size:35px;
	}
}

/* $LINKS & $TYPOGRAPHY
/*------------------------------------*/
/* Animate all links in and out */
a,
button {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}


a.back-to-top {
	background: $yellow;
	border-radius: 100%;
	bottom: 30px;
	color: $neutral;
	display: none;
	height: em(80px);
	line-height: 1;
	position: fixed;
	right: 30px;
	text-align: center;
	width: em(80px);
	z-index: 10001;

	span {
		display: block;
		padding-top: em(25px);
	}
}

.error{
	color:#FF0000;
	font-size:14px;
}

a.previous-entry-link {
	display: inline-block;
}
.headSlideImgLink{
	position: relative;
	display: block;
	.fa{
		position:absolute;
		z-index:1;
		color:#FFFFFF;
		font-size:30px;
		bottom:30px;
		right:30px;
		text-shadow:1px 1px 3px black;
	}
	.slick-prev,.slick-next{
		background: rgba(34, 34, 34, 0.5);
		border-radius: 100%;
		border: none;
		color: #1fbba1 !important;
		height: 40px;
		text-align: center;
		top: calc(50% - 20px);
		width: 40px;
		z-index: 100;
		&:hover{
			background: rgba(34, 34, 34, 0.9);
		}
		&:before{
			color: #ffffff !important;
			font-family: FontAwesome;
			font-weight: normal;
			opacity: 1.0;
			padding-top: 9px;
			display: block;
		}
	}
	.slick-prev{
		left: -15% !important;
		&:before{
			content: "\f104";
		}
	}
	.slick-next{
		right: -15% !important;
		&:before{
			content: "\f105";
		}
	}

}




// @media all and (min-width: 800px) { 

	// 	.fancybox-thumbs {
		// 		top: auto;
		// 		width: auto;
		// 		bottom: 0;
		// 		left: 0;
		// 		right : 0;
		// 		height: 95px;
		// 		padding: 10px;
		// 		box-sizing: border-box;
		// 		background: rgba(0, 0, 0, 0.3);
		// 	}

		// 	.fancybox-show-thumbs .fancybox-inner {
			// 		right: 0;
			// 		bottom: 95px;
			// 	}

			// }

/* $IMAGES
/*------------------------------------*/
main img {
	@extend .img-responsive;
}
.fancybox-caption{
	text-align:center;
}


figure {

	p.credit {
		font: {
			size: em(13px) !important;
		}
		margin: {
			bottom: 0;
			top: 5px;
		}
	}

	&.slick-slide {

		img {
			margin: 0 !important;
		}
	}
}

img.img-left {
	float: left;
	margin: {
		bottom: em(15px);
		right: em(15px);
		top: em(15px) !important;
	}
}

img.img-right {
	float: right;
	margin: {
		bottom: em(15px);
		left: em(15px);
		top: em(15px) !important;
	}
}

/* $LAYOUT
/*------------------------------------*/
.column-padding {
	@include main-padding;
}

body {
	background: $neutral;
}

div.container {
	background: $neutral;

	-webkit-box-shadow: 0px 0px 17px 0px rgba(97,97,97,0.58);
	-moz-box-shadow: 0px 0px 17px 0px rgba(97,97,97,0.58);
	box-shadow: 0px 0px 17px 0px rgba(97,97,97,0.58);
}

header[role="banner"] {
	position: relative;
	z-index: 1000;

	span.search {
		position: relative;
		z-index: 1002;
	}

	div.wrap-utility {
		background: rgba($blue-dark, 0.9);
		line-height: 60px;

		form {
			display: inline-block;
			
			.form-group {
				display: inline-block !important;
			}

			button {
				background: none;
				border: none;
				color: $neutral;
				font: {
					size: em(18px);
				}
			}
		}

		span.wrap-tel {
			display: inline-block;
			padding: {
				left: em(15px);
			}
			position: relative;
			z-index: 1002;

			@media (min-width: $screen-md-min) {
				padding: {
					left: em(30px);
				}
			}
			
			i {
				color: $neutral;
			}

			a {
				color: $neutral;

				@media (min-width: $screen-sm-min) {
					font: {
						size: em(21px);
					}
				}
			}
		}

		i.fa-search,
		i.fa-phone {
			color: $neutral;
			font: {
				size: em(18px);
			}
		}
	}

	div.wrap-masthead {
		background: rgba($gray-darker, 0.2);
		position: relative;

		div.logo {

			overflow: visible;
			position: absolute;
			height: 30px;
			left: 0px;
			top: -58px;
			width: 130px;
			z-index: 1001;

			@media (min-width: 400px) {
				height: em(85px);
				left: em(10px);
				top: em(-40px);
				width: 200px;
			}

			a {
				@include retinize('logo', 'png', no-repeat, 0, 0, 200px, auto);
				
				background-size: contain!important;
				display: block;
				height: em(85px);
				text-indent: -9999px;
				width: 100%;
				
				@media (min-width: $screen-sm-min) {
					@include retinize('logo', 'png', no-repeat, 0, 0, 325px, 133px);

					height: em(133px);
				}
			} 
			
			@media (min-width: $screen-sm-min) {
				height: em(133px);
				top: em(-50px);
				width: em(325px);

			}
		}
		
		&.no-image {
			background: $gray !important;	
		}
		
		// Global site nav
		nav {
			min-height:50px;
			
			@media (min-width: $screen-sm-min) {			
				min-height:95px;
				padding-top:25px;
			}

			ul.nav-site {
				float: right;
				margin: 0;

				.tour-cert {
					width: 66px;
					margin-left: 10px;

					img {
						position: absolute;
						width: 66px;
						top: 4px;
						right: 14px;
					}

				}

				li {
					line-height: 95px;
					padding: 0;

					a {
						color: $neutral;
						display: block;
						font: {
							size: 16px;
							weight: 600;
						}
						padding: {
							left: em(12px);
							right: em(12px);
						}

						&:hover {
							color: $yellow;
						}

						&.btn {

							&:hover {
								color: $neutral;
							}
						}

						@media (min-width: $screen-lg-min) {
							// font-size: 16px;
							padding: {
								left: em(15px);
								right: em(15px);
							}
						}
					}

					&.tour-booking,
					&.contact {
						margin: {
							left: 0;
						}

						@media (min-width: $screen-sm-min) {
							margin: {
								left: 7px;
							}
						}
					}

					&.rewards {
						margin: {
							left: em(15px);
						}
					}

					&.mobile {
						a {
							padding: {
								left: em(15px);
								right: em(0px);
							}
						}
					}

					&.active {
						a {
							border: {
								bottom: 4px solid $brand-primary;
							}
						}
						div {

							a {
								border: none !important;
							}
						}
					}
				}
			}

			ul.nav-mobile-activate {
				margin: 0;
				li {
					line-height: 50px;

					a {
						color: $neutral;
					}
				}

				.tourism-credit-mobile {
					img {
						height: 46px;
						margin-left: 10px;
					}
				}
			}
		}
	}
}

.canberra header div.wrap-masthead {

	div.logo {


		a {
			@include retinize('logo-canberra', 'png', no-repeat, 0, 0, 200px, auto);
			background-size: 200px auto;

			@media (min-width: $screen-sm-min) {
				@include retinize('logo-canberra', 'png', no-repeat, 0, 0, 325px, 133px);
				background-size: 200px auto;

			}
			 
		} 

	}
}

// Revo slider
body.home div.forcefullwidth_wrapper_tp_banner,
body.home div.rev_slider_wrapper,
div#masthead-hero {
	*{-webkit-user-select: none;}
	margin: {
		top: -50px !important;
	}

	@media (min-width: $screen-sm-min) {
		margin: {
			top: -95px !important;
		}
	}

	div.tp-caption.slide-caption {

		h1,
		h2 {
			color: $neutral;
			font: {
				size: 24px;
				weight: 100;
			}
			line-height: 24px;
			margin: {
				bottom: 15px;
				top: 0;
			}

			@media (min-width: $screen-sm-min) {
				font: {
					size: 35px;
				}	
				line-height: 32px;
			}

			@media (min-width: $screen-md-min) {
				font: {
					size: 50px;
				}	
				line-height: 45px;	
			}
		}

		h3 {
			color: $neutral;
			font: {
				weight: 600;
			}
			margin: {
				top: 0;
			}
		}

		a.btn.btn-default {
			border-width: 2px;
			font: {
				size: 16px;
			}

			@media (min-width: $screen-md-min) {
				font: {
					size: 18px;
				}
			}
		}
	}

	div.slotholder {
		overflow: hidden;
	}

	div.tp-leftarrow,
	div.tp-rightarrow {
		z-index: 1001
	}

	div.tparrows.zeus {
		background: rgba(0, 0, 0, 0.5);
	}
}

// Compensates for no revo masthead image on subpages
div.header-bg {
	background: $gray-dark;
	height: em(200px);

	margin: {
		top: -160px !important;
	}
}

div.wrap-main {
	background: transparent;
	margin: {
		top: em(0px);
	}
	padding: {
		bottom: em(60px);
		top: em(15px);
	}
	position: relative;
	z-index: 100;

	&.no-masthead {

		main[role="main"] {

			margin: {
				top: 0 !important;
			}
		}
	}

	aside {
		margin: {
			top: em(0);
		}

		@media (min-width: $screen-sm-min) {
			margin: {
				top: em(27px);
			}
		}
	}

	div.panel {
		margin: {
			top: 3em;
		}
	}

	div.table-responsive {
		margin: {
			top: 3em;
		}

		table {

		}
	}
}

// Templates with 2 column layout
body.multi-column div.wrap-main {

	div.wrap-tour-inner {
		background: $neutral;
		border-radius: em(0px);
		margin: {
			top: em(0);
		}

		@media (min-width: $screen-sm-min) {
			margin: {
				top: em(-185px);
			}
		}

		@media (min-width: $screen-md-min) {
			border-radius: em(5px);
			margin: {
				top: em(-250px);
			}
		}
	}

	main[role="main"] {
		background: transparent;
		border-radius: em(0px);

		@media (min-width: $screen-sm-min) {
			margin: {
				top: em(0);
			}
		}
	}
}

body.home {

	main[role="main"] {
		@include section-padding(60px, 60px);
		@include main-padding;

		background: $neutral;
		border-radius: em(0px);
		margin: {
			top: em(0);
		}
		ul{
			list-style-position: inside;
			padding:0px;
		}

		h1 {
			font: {
				size: 24px;
			}
			margin: {
				top: 0;
			}

			@media (min-width: $screen-lg-min) {
				font: {
					size: 28px;
				}
			}
		}

		p {
			font: {
				size: 18px;
			}

			&:last-child {
				margin: {
					bottom: 0;
				}
			}	
		}
	}
}

body.booking {

	main[role="main"] {
		margin: {
			top: 0;
		}
	}
}

main[role="main"] {
	background: $neutral;
	border-radius: em(0px);
	margin: {
		top: em(0);
	}

	@media (min-width: $screen-sm-min) {
		margin: {
			top: em(-185px);
		}
	}

	@media (min-width: $screen-md-min) {
		border-radius: em(5px);
		margin: {
			top: em(-250px);
		}
	}
	&.slim{
		@media (min-width: $screen-md-min) {
			border-radius: em(5px);
			margin: {
				top: em(-360px);
			}
		}
	}

	a { text-decoration: underline; 

		&:hover {
			text-decoration: underline; 	
		}
	}

	:link { color: #0000EE; }
	:visited { color: #551A8B; }

	p {
		font-size: 18px;
	}

	p.lead {
		font-size: 24px;
	}

	header.day-header {
		margin: {
			bottom: em(20px);
		}
	}

	h4 {
		color: $gray;
		font: {
			size: em(14px);
			weight: 600;
		}
		letter-spacing: 1px;
		margin: {
			top: em(30px);
		}
		text-transform: uppercase;
	}

	img {
		margin: {
			top: 2em;
		}
	}

	p.caption {
		color: $gray-light;
		font: {
			size: em(14px);
			style: italic;
		}
		margin: {
			bottom: 2em;
		}
	}

	div.slick-slide {

		img {
			margin: {
				top: 0 !important;
			}
		}
	}

	blockquote {
		padding: {
			bottom: em(15px);
			top: em(15px);
		}
	}

	ul.image-gallery {
		margin: {
			top: 0em;
		}

		img {
			margin: 0;
		}
	}
}

span.day {
	background: $blue;
	border-radius: 100%;
	color: $neutral;
	display: block;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 50px;
	text: {
		align: center;
		transform: uppercase;
	}
	width: 50px;

	@media (min-width: $screen-sm-min) {
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 60px;
		width: 60px;
	}
}
div.wrap-day-title {

	h3 {
		@include center-h--unk;

		color: $gray-light;
		font: {
			size: 19px;
			weight: 600;
		}
		margin: {
			bottom: 0;
			top: 0;
		}
	}
}

.slideWrap {
	display: none;
}

.slick-initialized,
.slick-slide:first-child { display: block; }

div.wrap-title {
	margin: {
		top: 1em;
		bottom: 1em;
	}

	figure.tour-route-image {

		img {
			margin: 0;
		}		
	}

	h1 {
		margin: {
			top: 0;
		}
	}
}

span.title {
	color: $brand-primary;
	display: block;
	font-family: proxima-nova, sans-serif;
	font-size: 36px;
}

// FAQs
ul.nav-faq {

	li {
		font-size: em(18px) !important;
		padding: {
			bottom: 8px;
			top: 8px;
		}
	}
}

ul.faqs {
	margin: {
		top: 2em;
	}

	a.faqTrigger {
		display: block;
		margin: {
			bottom: 1em;
		}

		&:after {
			content: "\f106";
			font-family: FontAwesome;
			font-weight: normal;
			padding: {
				left: em(5px);
			}
		}

		&.collapsed {
			&:after {
				content: "\f107";
			}
		}
	}
}

nav.sidebar {

	ul {

		li {
			margin: {
				bottom: em(5px);
			}
		}
	}
}

section.additionalContent {

	padding:35px 20px 0px 20px;
	background: lighten($gray-lighter, 2%);

	h3 {
		color: $brand-tertiary;
		font-size: em(18px);
		letter-spacing: 2px;
		margin:0px;
		padding:em(15px) 0px em(15px) 0px;
		text-align: center;
		text-transform: uppercase; 
		@include MQ(md-min){
			font-size: em(21px);
		}
	}

	div.promotions {
		margin: {
			bottom: 0;
		}
	}
}

div.tile {
	background: $neutral;
	margin-bottom:30px;

	h3 {
		color: $brand-tertiary;
		font: {
			size: em(18px);
		}
		letter-spacing: 2px;
		margin:0px;
		padding:em(15px) 0px em(15px) 0px;
		text: {
			align: center;
			transform: uppercase;
		}
		@include MQ(md-min){
			font-size: em(21px);
		}
	}

	figure {

		img {
			margin: 0 !important;
		}
	}

	div.intro {
		color: $gray-darker;
		font: {
			size: 18px;
		}
		padding: em(30px);
		position: relative;


		@media (min-width: $screen-md-min) {

		}

		@media (min-width: $screen-lg-min) {

		}

		ul {
			margin: 0;

			li {
				margin: {
					bottom: .5em;
				}

				a {
					color: #0000EE !important;
					text-decoration: underline;

					&:hover {
						color: darken(#0000EE, 10%) !important;
					}
				}

				&:last-child {
					margin: {
						bottom: 0;
					}
				}
			}

		}
	}
}

div.gallery-tile {
	background: $gray-lighter;
	margin-bottom:30px;

	h3 {
		color: $brand-tertiary;
		font: {
			size: em(21px);
		}
		letter-spacing: 2px;
		margin:0px;
		padding:em(15px) 0px em(15px) 0px;
		text: {
			align: center;
			transform: uppercase;
		}
	}

	// figure {
		// 	overflow: hidden;

		// 	img {
			// 		margin: 0 !important;
			// 	}
			// }

			a {

				figure {
					overflow: hidden;

					img {
						@include transition(all 0.3s ease-in-out);

						display: block;
						margin: 0 !important;
						padding: 0;
						transform: scale(1.0);
					}
				}

				// img {
					// 	@include transition(all 0.3s ease-in-out);

					// 	display: block;
					// 	padding: 0;
					// 	transform: scale(1.1);
					// }

					&:hover {

						figure {

							img {
								transform: scale(1.1);
							}
						}

					}	
				}

			}

			div.gallery-list-wrap {
				margin: {
					top: 1em;
				}

				div.tile {
					background: $gray-lighter;

					hr {
						border-top: 1px solid $gray-light;
					}
				}
			}

			section.additionalContent + section.additionalContent {
				padding: {
					top: 0 !important;
				}
			}

			// Tour listing page
			header.page-header {
				border-bottom: none;
			}
			.page-head{
				h2 {
					color: $green-dark;
				}
			}

			div.wrap-tours-list {

				h2 {
					color: $green-dark;
					font: {
						size: em(18px);
						weight: 600;
					}
					letter-spacing: 1px;
					margin: {
						bottom: 1.5em;
					}
					text-transform: uppercase;
				}

				ul.tour-listing {
					margin: {
						bottom: 4em;
					}

					li {
						background: lighten($gray-lighter, 2%);
						border-radius: em(5px);
						margin: {
							bottom: 2em;
						}
						overflow: hidden;

						figure {
							display: block;
							margin: {
								bottom: 1em;
							}
							overflow: hidden;

							@media (min-width: $screen-sm-min) {
								margin: {
									bottom: 0;
								}
							}
						}

						header {
							margin-bottom: 1em;
						}

						div.outer-wrap-tour-image {
							overflow: hidden;
						}

						figure.wrap-tour-image {
							height: 100%;
							left: 0;
							position: absolute;
							top: 0;
							width: 100%;
						}

						img {
							margin: 0 !important;
						}

						div.wrap-detail {
							padding: {
								bottom: em(30px);
								left: em(30px);
								right: em(30px);
								top: em(30px);
							}

							@media (min-width: $screen-sm-min) {
								padding: {
									bottom: em(30px);
									left: em(15px);
									right: em(30px);
									top: em(30px);
								}
							}
						}

						h3 {
							color: $blue;
							font: {
								size: 24px;
								weight: 600;
							}
							margin: {
								top: 0;
							}
						}

						ul.detail-list {
							font: {
								size: em(14px);
							}
							margin: {
								bottom: em(15px);
							}

							li {
								color: darken($gray, 30%);
								margin: {
									bottom: 0;
								}

								i {
									text-align: center;
									width: em(20px);
								}
							}
						}

						ul {

							li {

								margin: {
									bottom: 0;
								}
							}

							&.list-inline {

								li {
									@include MQ(xxs-min){
										display: block;
									}
								}
							}
						}

						a.btn {
							color: $neutral;
							text-decoration: none;

							@include MQ(xxs-min){
								display: block;
							}

							&.btn-primary {

								@media (min-width: $screen-sm-min) {
									margin-bottom: 0;
								}

								@include MQ(xxs-min){
									margin-bottom: 15px;
									width: 100%;
								}
							}
						}
					}
				}
			}

			div.wrap-masthead {
				position: relative !important;
			}

			/* mega menu list */
			.nav-menu {
				display: block;
				list-style: none;
				margin: 0;
				padding: 0;
			}

			/* a top level navigation item in the mega menu */
			.nav-item {
				display: inline-block;
				list-style: none;
				margin: 0;
				padding: 0;
			}

			/* first descendant link within a top level navigation item */
			.nav-item > a {
				border: none;
				display: inline-block;
				margin: 0 0 0 0;
				padding: 0.5em 1em;
			}

/* open state of first descendant link within a top level 
navigation item */


/* sub-navigation panel */
.sub-nav {
	background-color: rgba($neutral, 0.95);
	display: none;
	left: 15px;
	margin-top: 0;
	padding: {
		bottom: em(30px);
		left: em(15px);
		right: em(15px);
		top: em(30px);
	}
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 150;

	h3 {
		margin: {
			top: 0;
		}
	}

	h4 {
		color: $gray-darker;
		margin: {
			top: 0;
		}
		text-transform: uppercase;
	}
}

div.featureWrap {

	a {
		color: #0000EE !important;
		margin: 0;
		padding-left: 0 !important;
		text-decoration: underline;

		&:hover {
			color: darken(#0000EE, 10%) !important;
		}
	}
}

.contentBlock{
	margin:20px 0px 20px 0px;
	.innerContent{
		padding:20px;
		@include MQ(md-min){
			padding:0px 0px 20px 0px;
		}
	}
	.subTitle{
		font-size:20px!important;
		line-height:110%;
	}
	.img-prev{
		min-height:260px;
		height:100%;
		background-size:contain;
		background-position:center center;
		background-repeat: no-repeat;
		border-radius:5px 5px 0px 0px;
		@include MQ(md-min){
			border-radius:5px 0px 0px 5px;
		}

	}
	.leftImgPanel {
		border-radius:5px;
		padding-bottom: 30px;
		border-bottom: 1px solid #ccc;
		.btn-info {
			color: $neutral !important;
			text-decoration: none !important;
			opacity:1;
			&.opacityHover:hover{
				opacity:.7;
			}
		}
	}
}

/* sub-navigation panel open state */
.sub-nav.open {
	box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.49);
	display: block;
	line-height: 1.2 !important;
	-webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.49);
	-moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.49);
	
}

/* list of items within sub-navigation panel */
.sub-nav ul {
	background: transparent !important;
	display: block;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;

	li {
		display: block;
		line-height: 1 !important;
		list-style-type: none;
		height: auto;
		margin-bottom: 1em;
		padding: 0;

		a {
			color: #0000EE !important;
			display: inline-block !important;
			height: auto;
			padding: 0 !important;
			text-decoration: underline; 

			&:hover {
				color: darken(#0000EE, 10%) !important;
			}

			:link { color: #0000EE !important;}
			:visited { color: #551A8B !important; }
		}
	}
}

ul.sub-nav + ul.sub-nav {
	margin: {
		top: 2em;
	}
}

/* list item within sub-navigation panel */

.googleLarge{
	height:500px;
}
.sidebarHeaderContent{
	img{
		margin-left:auto;
		margin-right:auto;
	}
}
aside.tourDetail {
	img{
		max-width:100%;
	}
	div.wrap-summary {
		background: $gray-lighter;
		border-radius: 0 0 em(5px) em(5px);
		font-size: 15px;
		margin: {
			bottom: em(30px);
		}
		padding: em(15px);

		hr {
			border-top: 1px solid $neutral;
		}
	}

	div.googleMap {
		height: em(300px);
		margin: {
			bottom: em(0);
		}
	}

	h5 {
		color:#141414;
		font: {
			size: em(14px);
			weight: 700;
		}
		letter-spacing: 1px;
		margin: {
			top: 0;
		}
		text-transform: uppercase;
	}

	hr {
		margin: {
			bottom: em(10px);
			top: em(10px);
		}
	}

	a { 
		color: #0000EE;
		text-decoration: underline; 

		&:hover {
			color: darken(#0000EE, 10%);
			text-decoration: underline;
		}

		&.btn {
			color: $neutral;
			text-decoration: none;
		}
	}

	:link { color: #0000EE; }
	:visited { color: #551A8B; }
}

blockquote {
	@include section-padding(80px, 80px);
	// @include main-padding;

	border: none;
	color: $gray;
	font: {
		style: italic;
	}
	margin: {
		bottom: 0;
	}
	text-align: center;

	footer {
		font: {
			style: normal;
		}
		letter-spacing: 2px;
		text-transform: uppercase;

		&:before {
			content:"";
		}
	}
}

.coupon-hide-link {
	text-align:right;
	padding-bottom: 15px;
}

// Individual tour slideshow
div.slideWrap {

	.slick-next {
		background: rgba($gray-darker, 0.5);
		border-radius: 100%;
		border: none;
		color: $brand-primary !important;
		height: 40px;
		right: -15% !important;
		text-align: center;
		top: calc(50% - 20px);
		width: 40px;

		&:before {
			color: $neutral !important;
			content: "\f105";
			font-family: FontAwesome;
			font-weight: normal;
			opacity: 1.0;	
		}

		&:hover {
			background: rgba($gray-darker, 0.9);

			// &:before {
				// 	color: darken($brand-primary, 10%);
				// }
			}
		}

		.slick-prev {
			background: rgba($gray-darker, 0.5);
			border-radius: 100%;
			border: none;
			color: $brand-primary !important;
			height: 40px;
			left: -15% !important;
			text-align: center;
			top: calc(50% - 20px);
			width: 40px;
			z-index: 100;

			&:before {
				color: $neutral !important;
				content: "\f104";
				font-family: FontAwesome;
				font-weight: normal;
				opacity: 1.0;
			}

			&:hover {
				background: rgba($gray-darker, 0.9);

				// &:before {
					// 	color: darken($brand-primary, 10%);
					// }
				}
			}
			.headline{
				font-weight:bold;
				margin:3px 0px 3px 0px;
			}
			.credit{
				font-style:italic;
				margin:3px 0px 5px 0px;
			}

		}

		// Pre-footer gallery
		aside.page-gallery {

			figure.block-grid-item {
				padding: 0;

				a {
					padding: 0;
				}
			}

			div.wrap-gallery-link {
				@include section-padding(20px, 0);
			}
		}

		footer.site-foot {

			div.footer-inner {
				@include section-padding(40px, 40px);

				background: $gray-dark;
				color: $neutral;

				div.logo-footer {
					margin: {
						bottom: em(20px);
						top: em(-60px);
					}
					position: relative;
					z-index: 101;

					@media (min-width: $screen-sm-min) {
						margin: {
							top: em(-80px);
						}
					}

					a {
						@include retinize('logo-sm', 'png', no-repeat, 0, 0, 122px, 130px);

						display: block;
						height: em(133px);
						text-indent: -9999px;
						// background-size: contain; 
						width: 130px;
						height: 130px;  
					} 
				}

				.external-logo{
					max-width: 66%;
					margin-left: 20px;
					margin-top: 10px;
					margin-bottom: 10px;
				}

				h5 {
					margin: {
						top: em(30px);
					}
					text-transform: uppercase;
				}

				ul.social {
					li {

						a {
							border-radius: 100px;
							border: 1px solid $neutral;
							color: $neutral;
							display: block;
							line-height: 40px;
							text-align: center;
							width: 42px;

							&:hover {
								color: $brand-primary;
								border-color: $brand-primary;
							}
						}
					}
				}

				ul.footer-links {

					li {
						margin: {
							bottom: em(10px);
						}

						a {
							color: $neutral;
							font: {
								size: em(13px);
							}
							text-decoration: underline;

							&:hover {
								color: $brand-primary;
							}

							&.btn {
								text-decoration: none;	

								&:hover {
									color: $neutral;
								}
							}
						}
					}
				}

				div.newsletter-wrap {
					margin: {
						top: 1em;
					}

					@media (min-width: $screen-md-min) {
						margin: {
							top: 0;
						}
					}
				}
			}

			div.wrap-contact-footer {

				ul {
					list-style: none;
					margin: {
						left: em(20px);
					}
					padding: 0;

					li {
						color: lighten($gray, 5%);
						font-family: $font-family-monospace;

						a {
							color: lighten($gray, 5%);
							// font-family: $font-family-monospace;
						} 
					}
				}
			}

			div.site-credit {
				background: $gray-darker;
				font: {
					size: em(13px);
				}

				p {
					color: $gray-light;
					line-height: 1.2;
					margin: 0;
					padding: 2em 0;
				}
			}
		}

		.canberra footer.site-foot {

			div.footer-inner {


				div.logo-footer {


					a {
						@include retinize('logo-sm-canberra', 'png', no-repeat, 0, 0, 120px, 126px);
					} 
				}
			}
		}

/* $FORMS
/*------------------------------------*/
// Contact page form
.form-wrap {
	.recaptcha {
		margin: 15px 0px;
	}
	div.field {
		@extend .form-group;

		input {
			@extend .form-control;
		}

		textarea {
			@extend .form-control;
		}

		select {
			@extend .form-control;
		}
	}

	label {
		color: $gray-light;
		font: {
			weight: 600;
		}
	}

	button {
		@extend .btn;
		@extend .btn-primary;
	}
}
.tour-unavailable-block {
	color: #FF0000;
	padding-bottom: 15px;
	a,h5{
		color: #FF0000!important;
	}
}

#mc_embed_signup{
	.mc-field-group{
		padding:0px!important;
		min-height:0px!important;
	}
	#mce-responses{
		padding:0px!important;
		margin:0px!important;
		width:auto!important;
	}
	#mce-success-response{
		color:#FFFFFF!important;
		padding:0px!important;
	}
}

.formControlWrap {
	padding:0px 0px 10px 0px;

	.el-errors {
		color: red;
		font-size: 80%;
		font-weight: normal;
		.suberror{
			display:block;
		}
	}

	label.checkradio{
		font-weight:normal;
		overflow:none;
		input,.checkradiolabel{
			float:left;
		}

		.checkradiolabel{
			font-size:90%;
			font-style:italic;
			line-height:120%;
			margin-left:10px;
			width:90%;
		}
	}
}

/*Registration from defaults */
.errorContainer{

	label{
		display:inline;
		font-weight:normal;
	}

	.error{
		color:#ff0000;
		display:block;
		font-size:80%;
		font-weight:normal;
		margin-top:2px;
	}
}

.btn{
	//@include transition3;
}

.bookingUI{
	margin-bottom:50px;

	h2,
	h3{
		margin:10px 0px 10px 0px;
	}

	a {
		color: #0000EE;
		text-decoration: underline;

		&:hover {
			color: darken(#0000EE, 10%);
			text-decoration: underline;
		}

		&.btn {
			color: $neutral;
			text-decoration: none;
		}
	}

	:link { color: #0000EE; }
	:visited { color: #551A8B; }

	.screenContent{
		overflow:hidden;
	}

	.paymentAmount{
		background-color:#effaef;
		border-radius:5px;
		border:1px dashed $brand-success;
		color:darken($brand-success, 10%);
		font-size:20px;
		font-weight:bold;
		margin:10px 0px 10px 0px;
		padding:15px;
		text-align:center;
		.subline{
			font-weight:normal;
			font-size:80%;
		}
	}

	.priceSummary{

		>li{
			font-size:13px;
			line-height:120%;
			margin:5px 0px 5px 0px;
			&.subTitle{
				font-size:inherit;
				margin:10px 0px 10px 0px;
			}
		}

	}

	.switcherGroup{

		.switcher{
			background-color:#EEEEEE;
			border-radius:2px;
			border:1px solid #CCCCCC;
			color:#AAAAAA;
			cursor:pointer;
			display:inline-block;
			font-size:90%;
			margin:0px 5px 5px 0px;
			padding:2px 10px 2px 10px;
			@include transition3;
			&.selected{
				i{
					display:inline;
				}
				background-color:$brand-success;
				border:1px solid darken($brand-success, 10%);
				color:#FFFFFF;
			}
		}
	}

	.participantList{

		.participant{
			margin:10px 0px 10px 0px;
			padding:10px 0px 10px 0px;
			border-bottom:1px solid #CCCCCC;
		}

		.participant:last-child{
			border-bottom:0px;
		}
	}

	.extra-opt {
		padding:10px 0px 10px 0px;
		border-top:1px dashed #CCCCCC;

		&:first-child{
			border-top:0px;
		}

		.extra-name{
			font-weight: bold;
			margin-bottom:10px;
		}

		.extra-desc {
			font-size: 90%;
			margin-bottom: 10px;
		}
	}
	.steps{

		li{
			a,span {
				display: block;
				padding: 5px;
				background-color: #EEEEEE;
				color: #AAAAAA;
				border: 1px solid #CCCCCC;
				text-align:center;
				text-decoration:none!important;
			}

			a{
				@include transition3;
				color:#FFFFFF;
				background-color:$brand-primary;
				border: 1px solid $link-hover-color;
				&:hover{
					opacity:.8;
				}
			}

			&.active{
				a{background-color:$link-hover-color;}
			}
		}

		&.before{
			margin-bottom:10px;
			li:first-child>a{
				border-radius: 5px 5px 0px 0px;
			}
		}

		&.after{
			margin-top:10px;
			li:last-child>span{
				border-radius: 0px 0px 5px 5px;
			}
		}
	}
}

// Indicators for collapsing archive
.years {
	>ul{
		padding-left:0px;
		padding-bottom:7px;
		ul{
			padding-left:10px;
			padding-bottom:7px;
		}
	}
	li.year,
	li.month {
		a {
			&:after {
				content: "\f106";
				font-family: FontAwesome;
				font-weight: normal;
				padding: {
					left: em(5px);
				}
				position:absolute;
				color:#333333;
			}

			&.collapsed {
				&:after {
					content: "\f107";
				}
			}
		}
	}

	li.article-link {
		a {

			&:after {
				content: "\f105";
				font-family: FontAwesome;
				font-weight: normal;
				padding: {
					left: em(5px);
				}
			}
		}
	}
}




.royalSlider > .rsImg {
	visibility:hidden;
}
.royalSlider img {
}
.rsWebkit3d .rsSlide {
	-webkit-transform: none;
}
.rsWebkit3d img {
	-webkit-transform: translateZ(0);
}

.rsThumbsContainer {
	img {
		margin: 0px!important;
	}
}
.royalSlider {
	width: 100%!important;
	height: 450px!important;
}

article.tile{
	a{
		text-decoration:none!important;
		color:#333333;
	}
	h3,p,span{
		color:#333333;
	}
}

/* $TABLES
/*------------------------------------*/

/* $HELPER CLASSES
/*------------------------------------*/
//shows what size this busta is

#site-size-helper {
	height: 1.5em;
	color: green;
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	z-index: 100;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position:
	absolute;
	width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

svg:not(:root) {
	overflow: hidden;
}

// Remove bootstrap padding and margin
.no-padding {
	padding: {
		left: 0 !important;
		right: 0 !important;
	}
}
.no-margin {
	margin: {
		left: 0 !important;
		right: 0 !important;
	}
}

//mm menu fouc destroyer

#nav-mobile:not( .mm-menu ) {
	display: none;
}

.valign {
	height: 100%;
	width: 100%;
	display: table !important;
	overflow: hidden;
}

.vac {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

.hac{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}



.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;

	.embed-responsive-item,
	iframe,
	embed,
	object,
	video {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}
}

// Modifier class for 16:9 aspect ratio
.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}

// Modifier class for 4:3 aspect ratio
.embed-responsive-4by3 {
	padding-bottom: 75%;
}



//mm menu fouc destroyer

#menu:not( .mm-menu ) {
	display: none;
}

// Block Grid
// Technique adapted from Foundation 5 for Bootstrap 3.
// https://github.com/zurb/foundation/blob/f755d8704123f86c281ede0b171881e2672f150d/scss/foundation/components/_block-grid.scss
// Original LESS Version by Christopher Mitchell (https://gist.github.com/ChrisTM)
// Converted to SCSS by Rasmus Jürs (https://github.com/Jursdotme)

[class*="block-grid-"] {
	display: block;
	// margin: -($grid-gutter-width/2);
	margin: 0;
	padding: 0;
	@include clearfix();
}

.block-grid-item {
	display: inline;
	margin: 0;
	padding: ($grid-gutter-width/2);
	height: auto;
	float: left;
	list-style: none;
}

@mixin block-grid ($per-row) {
	& > .block-grid-item {
		width: (100%/$per-row);

		$nth-equation: #{$per-row}n+'+'+1;
		&:nth-of-type(n) { clear: none; }
		&:nth-of-type(#{$nth-equation}) { clear: both; }
	}
}

@mixin block-grids($size) {
	.block-grid-#{$size}-1  { @include block-grid(1);  }
	.block-grid-#{$size}-2  { @include block-grid(2);  }
	.block-grid-#{$size}-3  { @include block-grid(3);  }
	.block-grid-#{$size}-4  { @include block-grid(4);  }
	.block-grid-#{$size}-5  { @include block-grid(5);  }
	.block-grid-#{$size}-6  { @include block-grid(6);  }
	.block-grid-#{$size}-7  { @include block-grid(7);  }
	.block-grid-#{$size}-8  { @include block-grid(8);  }
	.block-grid-#{$size}-9  { @include block-grid(9);  }
	.block-grid-#{$size}-10 { @include block-grid(10); }
	.block-grid-#{$size}-11 { @include block-grid(11); }
	.block-grid-#{$size}-12 { @include block-grid(12); }
}

@include block-grids(xs);
@media (min-width: $screen-sm-min) { @include block-grids(sm) }
@media (min-width: $screen-md-min) { @include block-grids(md) }
@media (min-width: $screen-lg-min) { @include block-grids(lg) }



/* $LEGACY
/*------------------------------------*/

/* webkit, opera, IE9 */
::selection { background: $highlight; }
/* mozilla firefox */
::-moz-selection { background: $highlight; }
// remove dotted border on links forever
a:focus,
a:active {
	outline: none;
	-moz-outline-style: none;
}